<table id="entitiesSelectionDialog">
    <tr><td>    
               @Html.DevExpress().CheckBox(edtSettings =>{
                    edtSettings.Name ="SelectAllEntitiesCheckBoxBasic";
                    edtSettings.ControlStyle.CssClass = "editor";
                    edtSettings.ControlStyle.Font.Bold = true;
                    edtSettings.Text = ITS.Retail.ResourcesLib.Resources.SelectAll;
                    edtSettings.Properties.ValueChecked = true;
                    edtSettings.Properties.ValueGrayed = false;
                    edtSettings.Properties.ValueUnchecked = false;
                    edtSettings.Properties.ValueType = typeof(bool);
                    edtSettings.Properties.ClientSideEvents.ValueChanged = "SelectAllEntitiesCheckBoxBasic_OnValueChanged";
                }).GetHtml()</td></tr>
    <tr>
        @{
            int loops=0;   
        }
        @foreach (KeyValuePair<string, string> entityNames in (ViewData["EntityNames"] as Dictionary<string, string>).OrderBy(i => i.Value))
        {
            <td>
                @Html.DevExpress().CheckBox(edtSettings =>{
                    edtSettings.Name = entityNames.Key + "_EntityCheckBoxBasic";
                    edtSettings.ControlStyle.CssClass = "editor";
                    edtSettings.Text = entityNames.Value;
                    edtSettings.Properties.ValueChecked = true;
                    edtSettings.Properties.ValueGrayed = false;
                    edtSettings.Properties.ValueUnchecked = false;
                    edtSettings.Properties.ValueType = typeof(bool);
                }).GetHtml()
            </td>

            loops++;

            if (loops % 4 == 0)
            {
                ViewContext.Writer.Write("</tr><tr>");
            }
        }
    </tr>
</table>
