.dxHtmlEditor_Icons_heCut_ITSTheme1,
.dxHtmlEditor_Icons_heCutDisabled_ITSTheme1,
.dxHtmlEditor_Icons_heCopy_ITSTheme1,
.dxHtmlEditor_Icons_heCopyDisabled_ITSTheme1,
.dxHtmlEditor_Icons_hePaste_ITSTheme1,
.dxHtmlEditor_Icons_hePasteDisabled_ITSTheme1,
.dxHtmlEditor_Icons_hePasteFromWord_ITSTheme1,
.dxHtmlEditor_Icons_hePasteFromWordDisabled_ITSTheme1,
.dxHtmlEditor_Icons_heUndo_ITSTheme1,
.dxHtmlEditor_Icons_heUndoDisabled_ITSTheme1,
.dxHtmlEditor_Icons_heRedo_ITSTheme1,
.dxHtmlEditor_Icons_heRedoDisabled_ITSTheme1,
.dxHtmlEditor_Icons_heBold_ITSTheme1,
.dxHtmlEditor_Icons_heBoldDisabled_ITSTheme1,
.dxHtmlEditor_Icons_heItalic_ITSTheme1,
.dxHtmlEditor_Icons_heItalicDisabled_ITSTheme1,
.dxHtmlEditor_Icons_heUnderline_ITSTheme1,
.dxHtmlEditor_Icons_heUnderlineDisabled_ITSTheme1,
.dxHtmlEditor_Icons_heStrikethrough_ITSTheme1,
.dxHtmlEditor_Icons_heStrikethroughDisabled_ITSTheme1,
.dxHtmlEditor_Icons_heCenter_ITSTheme1,
.dxHtmlEditor_Icons_heCenterDisabled_ITSTheme1,
.dxHtmlEditor_Icons_heLeft_ITSTheme1,
.dxHtmlEditor_Icons_heLeftDisabled_ITSTheme1,
.dxHtmlEditor_Icons_heRight_ITSTheme1,
.dxHtmlEditor_Icons_heRightDisabled_ITSTheme1,
.dxHtmlEditor_Icons_heJustifyFull_ITSTheme1,
.dxHtmlEditor_Icons_heJustifyFullDisabled_ITSTheme1,
.dxHtmlEditor_Icons_heSuperscript_ITSTheme1,
.dxHtmlEditor_Icons_heSuperscriptDisabled_ITSTheme1,
.dxHtmlEditor_Icons_heSubscript_ITSTheme1,
.dxHtmlEditor_Icons_heSubscriptDisabled_ITSTheme1,
.dxHtmlEditor_Icons_heIndent_ITSTheme1,
.dxHtmlEditor_Icons_heIndentDisabled_ITSTheme1,
.dxHtmlEditor_Icons_heOutdent_ITSTheme1,
.dxHtmlEditor_Icons_heOutdentDisabled_ITSTheme1,
.dxHtmlEditor_Icons_heInsertOrderedList_ITSTheme1,
.dxHtmlEditor_Icons_heInsertOrderedListDisabled_ITSTheme1,
.dxHtmlEditor_Icons_heInsertUnorderedList_ITSTheme1,
.dxHtmlEditor_Icons_heInsertUnorderedListDisabled_ITSTheme1,
.dxHtmlEditor_Icons_heInsertImageDialog_ITSTheme1,
.dxHtmlEditor_Icons_heInsertImageDialogDisabled_ITSTheme1,
.dxHtmlEditor_Icons_heInsertLinkDialog_ITSTheme1,
.dxHtmlEditor_Icons_heInsertLinkDialogDisabled_ITSTheme1,
.dxHtmlEditor_Icons_heInsertTableDialog_ITSTheme1,
.dxHtmlEditor_Icons_heInsertTableDialogDisabled_ITSTheme1,
.dxHtmlEditor_Icons_heChangeTableDialog_ITSTheme1,
.dxHtmlEditor_Icons_heChangeTableDialogDisabled_ITSTheme1,
.dxHtmlEditor_Icons_heChangeTableCellDialog_ITSTheme1,
.dxHtmlEditor_Icons_heChangeTableCellDialogDisabled_ITSTheme1,
.dxHtmlEditor_Icons_heChangeTableColumnDialog_ITSTheme1,
.dxHtmlEditor_Icons_heChangeTableColumnDialogDisabled_ITSTheme1,
.dxHtmlEditor_Icons_heChangeTableRowDialog_ITSTheme1,
.dxHtmlEditor_Icons_heChangeTableRowDialogDisabled_ITSTheme1,
.dxHtmlEditor_Icons_heInsertTableRowAbove_ITSTheme1,
.dxHtmlEditor_Icons_heInsertTableRowAboveDisabled_ITSTheme1,
.dxHtmlEditor_Icons_heInsertTableRowBelow_ITSTheme1,
.dxHtmlEditor_Icons_heInsertTableRowBelowDisabled_ITSTheme1,
.dxHtmlEditor_Icons_heInsertTableColumnOnLeft_ITSTheme1,
.dxHtmlEditor_Icons_heInsertTableColumnOnLeftDisabled_ITSTheme1,
.dxHtmlEditor_Icons_heInsertTableColumnOnRight_ITSTheme1,
.dxHtmlEditor_Icons_heInsertTableColumnOnRightDisabled_ITSTheme1,
.dxHtmlEditor_Icons_heSplitTableCellHorizontal_ITSTheme1,
.dxHtmlEditor_Icons_heSplitTableCellHorizontalDisabled_ITSTheme1,
.dxHtmlEditor_Icons_heSplitTableCellVertical_ITSTheme1,
.dxHtmlEditor_Icons_heSplitTableCellVerticalDisabled_ITSTheme1,
.dxHtmlEditor_Icons_heMergeTableCellHorizontal_ITSTheme1,
.dxHtmlEditor_Icons_heMergeTableCellHorizontalDisabled_ITSTheme1,
.dxHtmlEditor_Icons_heMergeTableCellVertical_ITSTheme1,
.dxHtmlEditor_Icons_heMergeTableCellVerticalDisabled_ITSTheme1,
.dxHtmlEditor_Icons_heDeleteTable_ITSTheme1,
.dxHtmlEditor_Icons_heDeleteTableDisabled_ITSTheme1,
.dxHtmlEditor_Icons_heDeleteTableColumn_ITSTheme1,
.dxHtmlEditor_Icons_heDeleteTableColumnDisabled_ITSTheme1,
.dxHtmlEditor_Icons_heDeleteTableRow_ITSTheme1,
.dxHtmlEditor_Icons_heDeleteTableRowDisabled_ITSTheme1,
.dxHtmlEditor_Icons_heUnlink_ITSTheme1,
.dxHtmlEditor_Icons_heUnlinkDisabled_ITSTheme1,
.dxHtmlEditor_Icons_heBackColor_ITSTheme1,
.dxHtmlEditor_Icons_heBackColorDisabled_ITSTheme1,
.dxHtmlEditor_Icons_heForeColor_ITSTheme1,
.dxHtmlEditor_Icons_heForeColorDisabled_ITSTheme1,
.dxHtmlEditor_Icons_heRemoveFormat_ITSTheme1,
.dxHtmlEditor_Icons_heRemoveFormatDisabled_ITSTheme1,
.dxHtmlEditor_Icons_hePrint_ITSTheme1,
.dxHtmlEditor_Icons_hePrintDisabled_ITSTheme1,
.dxHtmlEditor_Icons_heCheckSpelling_ITSTheme1,
.dxHtmlEditor_Icons_heCheckSpellingDisabled_ITSTheme1,
.dxHtmlEditor_Icons_heFullscreen_ITSTheme1,
.dxHtmlEditor_Icons_heFullscreenDisabled_ITSTheme1,
.dxHtmlEditor_Icons_heSaveAsDocx_ITSTheme1,
.dxHtmlEditor_Icons_heSaveAsMht_ITSTheme1,
.dxHtmlEditor_Icons_heSaveAsOdt_ITSTheme1,
.dxHtmlEditor_Icons_heSaveAsPdf_ITSTheme1,
.dxHtmlEditor_Icons_heSaveAsRtf_ITSTheme1,
.dxHtmlEditor_Icons_heSaveAsTxt_ITSTheme1,
.dxHtmlEditor_heToolbarPopOut_ITSTheme1,
.dxHtmlEditor_heToolbarPopOutHover_ITSTheme1,
.dxHtmlEditor_heConstrainProportionsMiddleOn_ITSTheme1,
.dxHtmlEditor_heConstrainProportionsMiddleOff_ITSTheme1,
.dxHtmlEditor_heConstrainProportionsBottom_ITSTheme1,
.dxHtmlEditor_heConstrainProportionsTop_ITSTheme1,
.dxHtmlEditor_heConstrainProportionsMiddleOnRtl_ITSTheme1,
.dxHtmlEditor_heConstrainProportionsMiddleOffRtl_ITSTheme1,
.dxHtmlEditor_heConstrainProportionsBottomRtl_ITSTheme1,
.dxHtmlEditor_heConstrainProportionsTopRtl_ITSTheme1,
.dxHtmlEditor_RoundPanel_herpHeaderTopLeftCorner_ITSTheme1,
.dxHtmlEditor_RoundPanel_herpHeaderTopRightCorner_ITSTheme1,
.dxHtmlEditor_RoundPanel_herpBottomLeftCorner_ITSTheme1,
.dxHtmlEditor_RoundPanel_herpBottomRightCorner_ITSTheme1,
.dxHtmlEditor_RoundPanel_herpTopLeftCorner_ITSTheme1,
.dxHtmlEditor_RoundPanel_herpTopRightCorner_ITSTheme1,
.dxHtmlEditor_RoundPanel_herpGroupBoxBottomLeftCorner_ITSTheme1,
.dxHtmlEditor_RoundPanel_herpGroupBoxBottomRightCorner_ITSTheme1,
.dxHtmlEditor_RoundPanel_herpGroupBoxTopLeftCorner_ITSTheme1,
.dxHtmlEditor_RoundPanel_herpGroupBoxTopRightCorner_ITSTheme1,
.dxHtmlEditor_heSizeGrip_ITSTheme1,
.dxHtmlEditor_heSizeGripRtl_ITSTheme1,
.dxHtmlEditor_heErrorFrameCloseButton_ITSTheme1
{
	background: transparent url('sprite.png') no-repeat;
	-background-image: url('sprite.gif');
}

.dxHtmlEditor_heConstrainProportionsMiddleOn_ITSTheme1,
.dxHtmlEditor_heConstrainProportionsMiddleOff_ITSTheme1,
.dxHtmlEditor_heConstrainProportionsBottom_ITSTheme1,
.dxHtmlEditor_heConstrainProportionsTop_ITSTheme1,
.dxHtmlEditor_RoundPanel_herpHeaderTopLeftCorner_ITSTheme1,
.dxHtmlEditor_RoundPanel_herpHeaderTopRightCorner_ITSTheme1,
.dxHtmlEditor_RoundPanel_herpBottomLeftCorner_ITSTheme1,
.dxHtmlEditor_RoundPanel_herpBottomRightCorner_ITSTheme1,
.dxHtmlEditor_RoundPanel_herpTopLeftCorner_ITSTheme1,
.dxHtmlEditor_RoundPanel_herpTopRightCorner_ITSTheme1,
.dxHtmlEditor_RoundPanel_herpGroupBoxBottomLeftCorner_ITSTheme1,
.dxHtmlEditor_RoundPanel_herpGroupBoxBottomRightCorner_ITSTheme1,
.dxHtmlEditor_RoundPanel_herpGroupBoxTopLeftCorner_ITSTheme1,
.dxHtmlEditor_RoundPanel_herpGroupBoxTopRightCorner_ITSTheme1
{
	display:block;
}

.dxHtmlEditor_Icons_heCut_ITSTheme1 {
    background-position: -48px -74px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heCutDisabled_ITSTheme1 {
    background-position: -72px -74px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heCopy_ITSTheme1 {
    background-position: 0px -74px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heCopyDisabled_ITSTheme1 {
    background-position: -24px -74px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_hePaste_ITSTheme1 {
    background-position: -96px -194px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_hePasteDisabled_ITSTheme1 {
    background-position: -120px -194px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_hePasteFromWord_ITSTheme1 {
    background-position: -144px -194px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_hePasteFromWordDisabled_ITSTheme1 {
    background-position: -168px -194px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heUndo_ITSTheme1 {
    background-position: -96px -266px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heUndoDisabled_ITSTheme1 {
    background-position: -120px -266px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heRedo_ITSTheme1 {
    background-position: -48px -218px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heRedoDisabled_ITSTheme1 {
    background-position: -72px -218px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heBold_ITSTheme1 {
    background-position: -48px -26px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heBoldDisabled_ITSTheme1 {
    background-position: -72px -26px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heItalic_ITSTheme1 {
    background-position: 0px -170px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heItalicDisabled_ITSTheme1 {
    background-position: -24px -170px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heUnderline_ITSTheme1 {
    background-position: -48px -266px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heUnderlineDisabled_ITSTheme1 {
    background-position: -72px -266px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heStrikethrough_ITSTheme1 {
    background-position: -96px -242px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heStrikethroughDisabled_ITSTheme1 {
    background-position: -120px -242px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heCenter_ITSTheme1 {
    background-position: -96px -26px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heCenterDisabled_ITSTheme1 {
    background-position: -120px -26px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heLeft_ITSTheme1 {
    background-position: -96px -170px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heLeftDisabled_ITSTheme1 {
    background-position: -120px -170px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heRight_ITSTheme1 {
    background-position: -144px -218px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heRightDisabled_ITSTheme1 {
    background-position: -168px -218px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heJustifyFull_ITSTheme1 {
    background-position: -48px -170px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heJustifyFullDisabled_ITSTheme1 {
    background-position: -72px -170px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heSuperscript_ITSTheme1 {
    background-position: 0px -266px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heSuperscriptDisabled_ITSTheme1 {
    background-position: -24px -266px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heSubscript_ITSTheme1 {
    background-position: -144px -242px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heSubscriptDisabled_ITSTheme1 {
    background-position: -168px -242px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heIndent_ITSTheme1 {
    background-position: -96px -98px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heIndentDisabled_ITSTheme1 {
    background-position: -120px -98px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heOutdent_ITSTheme1 {
    background-position: -48px -194px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heOutdentDisabled_ITSTheme1 {
    background-position: -72px -194px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heInsertOrderedList_ITSTheme1 {
    background-position: -48px -122px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heInsertOrderedListDisabled_ITSTheme1 {
    background-position: -72px -122px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heInsertUnorderedList_ITSTheme1 {
    background-position: -144px -146px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heInsertUnorderedListDisabled_ITSTheme1 {
    background-position: -168px -146px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heInsertImageDialog_ITSTheme1 {
    background-position: -144px -98px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heInsertImageDialogDisabled_ITSTheme1 {
    background-position: -168px -98px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heInsertLinkDialog_ITSTheme1 {
    background-position: 0px -122px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heInsertLinkDialogDisabled_ITSTheme1 {
    background-position: -24px -122px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heInsertTableDialog_ITSTheme1 {
    background-position: 0px -146px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heInsertTableDialogDisabled_ITSTheme1 {
    background-position: -24px -146px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heChangeTableDialog_ITSTheme1 {
    background-position: -48px -50px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heChangeTableDialogDisabled_ITSTheme1 {
    background-position: -72px -50px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heChangeTableCellDialog_ITSTheme1 {
    background-position: -144px -26px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heChangeTableCellDialogDisabled_ITSTheme1 {
    background-position: -168px -26px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heChangeTableColumnDialog_ITSTheme1 {
    background-position: 0px -50px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heChangeTableColumnDialogDisabled_ITSTheme1 {
    background-position: -24px -50px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heChangeTableRowDialog_ITSTheme1 {
    background-position: -96px -50px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heChangeTableRowDialogDisabled_ITSTheme1 {
    background-position: -120px -50px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heInsertTableRowAbove_ITSTheme1 {
    background-position: -48px -146px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heInsertTableRowAboveDisabled_ITSTheme1 {
    background-position: -72px -146px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heInsertTableRowBelow_ITSTheme1 {
    background-position: -96px -146px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heInsertTableRowBelowDisabled_ITSTheme1 {
    background-position: -120px -146px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heInsertTableColumnOnLeft_ITSTheme1 {
    background-position: -96px -122px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heInsertTableColumnOnLeftDisabled_ITSTheme1 {
    background-position: -120px -122px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heInsertTableColumnOnRight_ITSTheme1 {
    background-position: -144px -122px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heInsertTableColumnOnRightDisabled_ITSTheme1 {
    background-position: -168px -122px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heSplitTableCellHorizontal_ITSTheme1 {
    background-position: 0px -242px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heSplitTableCellHorizontalDisabled_ITSTheme1 {
    background-position: -24px -242px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heSplitTableCellVertical_ITSTheme1 {
    background-position: -48px -242px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heSplitTableCellVerticalDisabled_ITSTheme1 {
    background-position: -72px -242px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heMergeTableCellHorizontal_ITSTheme1 {
    background-position: -144px -170px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heMergeTableCellHorizontalDisabled_ITSTheme1 {
    background-position: -168px -170px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heMergeTableCellVertical_ITSTheme1 {
    background-position: 0px -194px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heMergeTableCellVerticalDisabled_ITSTheme1 {
    background-position: -24px -194px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heDeleteTable_ITSTheme1 {
    background-position: -96px -74px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heDeleteTableDisabled_ITSTheme1 {
    background-position: -120px -74px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heDeleteTableColumn_ITSTheme1 {
    background-position: -144px -74px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heDeleteTableColumnDisabled_ITSTheme1 {
    background-position: -168px -74px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heDeleteTableRow_ITSTheme1 {
    background-position: 0px -98px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heDeleteTableRowDisabled_ITSTheme1 {
    background-position: -24px -98px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heUnlink_ITSTheme1 {
    background-position: -144px -266px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heUnlinkDisabled_ITSTheme1 {
    background-position: -168px -266px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heBackColor_ITSTheme1 {
    background-position: 0px -26px;
    width: 16px;
    height: 13px;
}

.dxHtmlEditor_Icons_heBackColorDisabled_ITSTheme1 {
    background-position: -24px -26px;
    width: 16px;
    height: 13px;
}

.dxHtmlEditor_Icons_heForeColor_ITSTheme1 {
    background-position: -48px -98px;
    width: 16px;
    height: 13px;
}

.dxHtmlEditor_Icons_heForeColorDisabled_ITSTheme1 {
    background-position: -72px -98px;
    width: 16px;
    height: 13px;
}

.dxHtmlEditor_Icons_heRemoveFormat_ITSTheme1 {
    background-position: -96px -218px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heRemoveFormatDisabled_ITSTheme1 {
    background-position: -120px -218px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_hePrint_ITSTheme1 {
    background-position: 0px -218px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_hePrintDisabled_ITSTheme1 {
    background-position: -24px -218px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heCheckSpelling_ITSTheme1 {
    background-position: -144px -50px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heCheckSpellingDisabled_ITSTheme1 {
    background-position: -168px -50px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heFullscreen_ITSTheme1 
{
    background-position: -24px -290px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heFullscreenDisabled_ITSTheme1
{
	background-position: -24px -314px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heSaveAsDocx_ITSTheme1
{
    background-position: -48px -290px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heSaveAsMht_ITSTheme1
{
    background-position: -72px -290px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heSaveAsOdt_ITSTheme1
{
    background-position: -96px -290px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heSaveAsPdf_ITSTheme1
{
    background-position: -120px -290px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heSaveAsRtf_ITSTheme1
{
    background-position: -144px -290px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heSaveAsTxt_ITSTheme1
{
    background-position: -168px -290px;
    width: 16px;
    height: 16px;
}


.dxHtmlEditor_heToolbarPopOut_ITSTheme1 {
    background-position: -135px 0px;
    width: 5px;
    height: 3px;
}

.dxHtmlEditor_heToolbarPopOutHover_ITSTheme1 {
    background-position: -135px -3px;
    width: 5px;
    height: 3px;
}

.dxHtmlEditor_heConstrainProportionsMiddleOn_ITSTheme1 {
    background-position: -19px 0px;
    width: 11px;
    height: 18px;
}

.dxHtmlEditor_heConstrainProportionsMiddleOff_ITSTheme1 {
    background-position: 0px 0px;
    width: 11px;
    height: 18px;
}

.dxHtmlEditor_heConstrainProportionsBottom_ITSTheme1 {
    background-position: -38px 0px;
    width: 11px;
    height: 6px;
}

.dxHtmlEditor_heConstrainProportionsTop_ITSTheme1 {
    background-position: -38px -14px;
    width: 11px;
    height: 5px;
}

.dxHtmlEditor_heConstrainProportionsMiddleOnRtl_ITSTheme1 {
    background-position: -162px 0px;
    width: 11px;
    height: 18px;
}

.dxHtmlEditor_heConstrainProportionsMiddleOffRtl_ITSTheme1 {
    background-position: -181px 0px;
    width: 11px;
    height: 18px;
}

.dxHtmlEditor_heConstrainProportionsBottomRtl_ITSTheme1 {
    background-position: -143px 0px;
    width: 11px;
    height: 6px;
}

.dxHtmlEditor_heConstrainProportionsTopRtl_ITSTheme1 {
    background-position: -143px -14px;
    width: 11px;
    height: 5px;
}

.dxHtmlEditor_RoundPanel_herpHeaderTopLeftCorner_ITSTheme1 {
    background-position: -109px 0px;
    width: 5px;
    height: 5px;
}

.dxHtmlEditor_RoundPanel_herpHeaderTopRightCorner_ITSTheme1 {
    background-position: -122px 0px;
    width: 5px;
    height: 5px;
}

.dxHtmlEditor_RoundPanel_herpBottomLeftCorner_ITSTheme1 {
    background-position: -57px -13px;
    width: 5px;
    height: 5px;
}

.dxHtmlEditor_RoundPanel_herpBottomRightCorner_ITSTheme1 {
    background-position: -70px -13px;
    width: 5px;
    height: 5px;
}

.dxHtmlEditor_RoundPanel_herpTopLeftCorner_ITSTheme1 {
    background-position: -57px 0px;
    width: 5px;
    height: 5px;
}

.dxHtmlEditor_RoundPanel_herpTopRightCorner_ITSTheme1 {
    background-position: -70px 0px;
    width: 5px;
    height: 5px;
}

.dxHtmlEditor_RoundPanel_herpGroupBoxBottomLeftCorner_ITSTheme1 {
    background-position: -83px -13px;
    width: 5px;
    height: 5px;
}

.dxHtmlEditor_RoundPanel_herpGroupBoxBottomRightCorner_ITSTheme1 {
    background-position: -96px -13px;
    width: 5px;
    height: 5px;
}

.dxHtmlEditor_RoundPanel_herpGroupBoxTopLeftCorner_ITSTheme1 {
    background-position: -83px 0px;
    width: 5px;
    height: 5px;
}

.dxHtmlEditor_RoundPanel_herpGroupBoxTopRightCorner_ITSTheme1 {
    background-position: -96px 0px;
    width: 5px;
    height: 5px;
}

.dxHtmlEditor_heSizeGrip_ITSTheme1 {
    background-position: 0px -290px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_heSizeGripRtl_ITSTheme1 {
    background-position: 0px -314px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_heErrorFrameCloseButton_ITSTheme1 {
    background-position: -109px -9px;
    width: 13px;
    height: 9px;
}

