@using System.Web.UI.WebControls;
@{
    Layout ="~/Views/Shared/_MobileLayout.cshtml" ;
}
<p style='font-size:small'><a href="@Url.Content("~/Download/Mobile/RetailMobileSetup.CAB")">Λήψη Αρχείου Εγκατάστασης</a></p>
<p style='font-size:small'><a href="@Url.Content("~/MobileClient/GetSettings")">Λήψη Αρχείου Ρυθμίσεων</a></p>
<p style='font-size:small'><a href="@Url.Content("~/Download/Mobile/NETCFv2.wce5.armv4i.cab")">Λήψη .NET για Windows CE 5</a></p>
<p style='font-size:small'><a href="@Url.Content("~/Download/Mobile/NETCFv2.wm.armv4i.cab")">Λήψη .NET για Windows Mobile 5</a></p>
