<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="UpdaterDesktop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <UpdaterDesktop.Properties.Settings>
            <setting name="UpdaterDesktop_MobileWebService_MobileWebService" serializeAs="String">
                <value>http://localhost/mobileatstoreservices/MobileWebService.asmx</value>
            </setting>
        </UpdaterDesktop.Properties.Settings>
    </applicationSettings>
</configuration>