ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  margin: 0;
  min-width: 800px;
  padding: 0;
  width: 100%;
}

body {
  -ms-zoom: 1;
  background-color: white;
  color: #333333;
  font-family: Arial, Verdana, Tahoma, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 11px;
  height: 100%;
  margin: 0;
  min-width: 800px;
  overflow: auto;
  padding: 0;
  width: 100%;
  z-index: 0;
  zoom: 1;
}
@media (max-width: 1300px) {
  body {
    min-width: 900px;
  }
}

.body_init {
  background: url(../../Content/bgn.jpg);
  background-repeat: repeat;
}
@media (max-width: 1300px) {
  .body_init {
    min-width: 900px;
  }
}

a {
  color: #333333;
  cursor: pointer;
  font-size: 12px;
}
a img {
  border: none;
  cursor: pointer;
  width: 100%;
}
a:hover {
  text-decoration: none;
}
a:focus {
  outline: 1px dotted;
}
a.dxbButton_ITSTheme1.dxgvCommandColumnItem_ITSTheme1 {
  padding: 0 !important;
}

.color-blue {
  background-color: #06a7ff !important;
}

.color-gray {
  background-color: #afafaf !important;
}

.dxbButton_ITSTheme1.color-red {
  background-color: #ff7d33;
}

.dxbButtonHover_ITSTheme1.color-red {
  background-color: #ff5c00;
}

.header {
  height: auto;
  margin: 0 auto;
  min-width: 900px;
  padding: 0;
  position: relative;
  width: 800px;
  z-index: 1;
}

.footer {
  background: #d5d5d5;
  height: 14px;
  margin-top: -54px;
  opacity: 1;
  overflow: visible;
  padding: 20px 1%;
  position: relative;
  text-align: right;
  z-index: 5;
}
.footer .footer_content {
  width: 100%;
}
.footer img {
  margin-left: 10px;
  vertical-align: middle;
  width: 30px;
}
.footer a {
  margin-right: 15px;
}
.footer span {
  margin-right: 15px;
}

.wrapper {
  margin: 0 auto 0 auto;
  min-height: 100%;
  overflow: auto;
  width: 100%;
}
.wrapper .container #crash {
  clear: both;
}
.wrapper .container .dxbButton_ITSTheme1 span {
  color: white;
}
@media (max-width: 1300px) {
  .wrapper .container .DocumentEdit_OrderInfo table.customer .customer_search input {
    width: 100%;
  }
  .wrapper .container .DocumentEdit_OrderInfo .header_info .dxeButtonEdit_ITSTheme1 {
    width: 120px !important;
  }
}

.languagePick {
  background: #ff5c00;
  color: white;
  float: right;
  margin: 10px 0;
  padding: 0;
  width: 68px;
}
.languagePick .dxm-main {
  background: #ff5c00 !important;
  color: white;
}
.languagePick .dxm-selected {
  background: #ff5c00 !important;
  color: white;
}
.languagePick .dxm-popup {
  border: 1px solid #ff5c00 !important;
  width: 65px !important;
}
.languagePick .dxm-popup .dxm-item:hover {
  background: #ff5c00 !important;
}
.languagePick .dxm-popup .dxm-item:hover a {
  background: #ff5c00 !important;
}
.languagePick .dxm-popup .dxm-item a:hover {
  background: #ff5c00 !important;
}
.languagePick .dxm-popup a.dxm-content {
  text-decoration: none;
}
.languagePick .dxm-popup li.dxm-item {
  padding: 6px 0 !important;
}
.languagePick .dxm-hovered {
  background: #ff5c00 !important;
}

.wrapper_init {
  margin: 0 auto;
  min-height: 100%;
  overflow: auto !important;
}
.wrapper_init .container {
  margin: 0 auto 50px;
  position: relative;
  width: auto;
}
.wrapper_init .container .info_banner {
  -moz-box-shadow: 0 0 25px 0;
  -webkit-box-shadow: 0 0 25px 0;
  box-shadow: 0 0 25px 0;
  display: block;
  float: left;
  height: 100vh;
  position: relative;
  width: 60%;
}
.wrapper_init .container .info_banner .login-logo-container {
  background: white;
  height: 100vh;
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 100%;
}
.wrapper_init .container .info_banner .login-logo-container #logo {
  position: relative;
}
.wrapper_init .container .info_banner #slider {
  height: auto;
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 100%;
}
.wrapper_init .container .info_banner #slider li {
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background: white;
  display: none;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.wrapper_init .container .info_banner #slider li:first-child {
  display: block;
  float: left;
  position: relative;
}
.wrapper_init .container .info_banner #slider img {
  display: block;
  height: auto;
  margin: 0 auto;
  border: 0;
}
.wrapper_init .container .info_banner .overlay {
  background: rgba(0, 0, 0, 0.12);
  background-repeat: space;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.wrapper_init .container .info_banner h1 {
  background: none;
  bottom: 0;
  font-size: 30px;
  left: 5%;
  opacity: 1;
  padding: 0 10% 0 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 45%;
}
.wrapper_init .container .info_banner h1 span {
  border-top: 5px solid #ef3e23;
  color: white;
  display: block;
  font-size: 21px;
  line-height: 34px;
  padding: 30px 0;
  text-align: left;
}
.wrapper_init .container .info_banner h1 img#wrm {
  margin: 10px auto;
  width: 100%;
}
.wrapper_init .container .login {
  -moz-box-shadow: 0 0 25px 0;
  -webkit-box-shadow: 0 0 25px 0;
  box-shadow: 0 0 25px 0;
  background: url(../img/light-grey-bg-pattern.jpg);
  background-size: cover;
  float: left;
  height: 100vh;
  position: relative;
  width: 40%;
}
.wrapper_init .container .login h2 {
  color: white;
  font-size: 27px;
  font-weight: normal;
  margin-top: 0;
}
.wrapper_init .container .login .languagePick {
  position: fixed;
  right: 80px;
  top: 0;
}
.wrapper_init .container .login .login-container {
  padding: 50px 40px 0;
}
.wrapper_init .container .login .login-container h2 {
  border-bottom: 2px solid #6292ad;
  color: #008dda;
  font-size: 27px;
  font-weight: normal;
  margin-top: 0;
  padding-bottom: 10px;
  width: 185px;
}
.wrapper_init .container .login .login-container .languagePick {
  position: fixed;
  right: 80px;
  top: 0;
}
.wrapper_init .container .login .login-container span.dxeBase_ITSTheme1 {
  color: #2085c0 !important;
  display: block;
  font: 16px Arial;
  text-align: left;
}
.wrapper_init .container .login span.dxeBase_ITSTheme1 {
  color: white !important;
  display: block;
  font: 16px Arial;
  text-align: left;
}
.wrapper_init .container .dxbButton_ITSTheme1 {
  background-color: #008dda;
  border: 1px solid #008dda;
  font: 16px Arial;
}
.wrapper_init .container .dxbButton_ITSTheme1:hover {
  background-color: #008dda;
  border: 1px solid #008dda;
}
.wrapper_init .container .dxrpControl_ITSTheme1 .dxrpHeader_ITSTheme1 td.dxrp span {
  color: #06a7ff;
  font-size: 24px;
}
.wrapper_init #its_info {
  position: fixed;
  right: 10px;
  z-index: 1;
}

.its-container {
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
}
.its-container .developed {
  background-color: #3875a5;
  color: white;
  float: left;
  font: 15px Arial;
  font-weight: bold;
  margin-left: 75px;
  margin-top: 50px;
  padding: 15px;
}
.its-container .its-logo {
  display: block;
  max-height: 100px;
  max-width: 100%;
  padding-left: 40px;
  padding-top: 20px;
  position: relative;
  width: auto;
}
.its-container .versions {
  background-color: #5a5a5a;
  color: white;
  margin-top: 15px;
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: center;
}
.its-container a:focus {
  outline: 0 dotted;
}

.push {
  height: 14px;
}

.hidden {
  display: none;
}

.login label {
  display: block;
  font-size: 12px;
  font-weight: normal;
  line-height: 20px;
  margin-bottom: 5px;
}
.login input {
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -moz-transition: border linear .2s, box-shadow linear .2s;
  -o-transition: border linear .2s, box-shadow linear .2s;
  -webkit-appearance: none;
  -webkit-transition: border linear .2s, box-shadow linear .2s;
  appearance: none;
  background-color: white;
  border: 1px solid #bfbfbf;
  font-size: 16px;
  margin: 0 0 20px;
  outline: 0;
  padding: 10px;
  transition: border linear .2s, box-shadow linear .2s;
  width: 94%;
}
.login input:hover, .login input:focus {
  border-color: #06a7ff;
  -moz-box-shadow: 0 0 5px rgba(0, 160, 201, 0.6);
  -webkit-box-shadow: 0 0 5px rgba(0, 160, 201, 0.6);
  box-shadow: 0 0 5px rgba(0, 160, 201, 0.6);
}
.login .login_btn_size .dxb {
  padding: 3px 8px 4px;
}

input:-moz-placeholder, input:-ms-input-placeholder, textarea:-moz-placeholder, textarea:-ms-input-placeholder {
  color: #929292;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #929292;
}

.close_btn {
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  font-size: 22px;
  opacity: .8;
  position: absolute;
  right: 5px;
  top: 1px;
  z-index: 99;
}
.close_btn:hover {
  opacity: 1;
}

.hide_all {
  background: rgba(0, 0, 0, 0.2);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 6;
}

.inside_btn {
  background-color: #06a7ff;
  border: none;
  box-shadow: none;
  color: white;
  cursor: pointer;
  font-size: 12px;
  padding: 3px 4px;
  vertical-align: middle;
}
.inside_btn:hover {
  background: #008dda;
  color: white;
}

.disabled {
  opacity: .5;
}
.disabled:hover {
  background: none;
  opacity: .5;
}
.disabled a {
  cursor: default;
}

#its_info a {
  -webkit-transition: background-position-y 0.5s ease;
  -o-transition: background-position-y 0.5s ease;
  -moz-transition: background-position-y 0.5s ease;
  transition: background-position-y 0.5s ease;
  background: url(../../Content/img/flag.png);
  background-position: -86px -11px;
  background-repeat: no-repeat;
  display: block;
  float: left;
  height: 70px;
  opacity: 0.6;
  width: 30px;
}
#its_info a:hover {
  opacity: 1;
}
#its_info #itslink {
  background-position: -116px -11px;
}

.ModalView {
  /*@include box-shadow(0, 0, 12px, $color_star_dust_approx);
  background: $color_wild_sand_approx;
  left: 0;
  position: fixed;
  text-align: left;
  top: 0;
  width: 100%;
  z-index: 999;*/
}
.ModalView h2 {
  color: #06a7ff;
  margin: 14px 0 0 10px;
  text-align: left;
  display: inline-block;
  float: left;
  font-size: 20px;
  position: absolute;
  top: 0;
}

.button_container {
  float: right;
  position: absolute;
  top: 0;
  right: 30px;
}
.button_container .button {
  clear: none !important;
  display: inline-block;
  margin: 5px;
  vertical-align: top;
}
.button_container .cancel {
  background-color: #e90000;
  border-color: #e70000;
}
.button_container .cancel.margin-top-5 {
  margin-top: 5px !important;
}
.button_container .cancel:hover {
  background: #b60000;
  border-color: #b40000;
  color: white;
}

.IndexView_button_container {
  background: none;
  left: 315px;
  padding: 0;
  position: fixed;
  top: 1px;
  z-index: 99;
  right: auto !important;
}
.IndexView_button_container .border {
  border: 1px solid #DDD;
}

.floated {
  float: left;
  /*.dxeBase_ITSTheme1{
      margin-bottom:0px !important;
  }*/
}

.div_cell {
  clear: none !important;
  display: inline-block;
  float: left;
  margin: 5px;
}

.required_field:after {
  color: #b60000 !important;
  content: "*";
  /*font-size: 15px;*/
}

.dxb-hb {
  border: 0 !IMPORTANT;
  font-size: 0 !IMPORTANT;
  height: 0 !IMPORTANT;
  margin: 0 !IMPORTANT;
  opacity: 0 !IMPORTANT;
  padding: 0 !IMPORTANT;
  width: 0 !IMPORTANT;
}

.dxb-hbc {
  border: 0 !IMPORTANT;
  font-size: 0 !IMPORTANT;
  height: 0 !IMPORTANT;
  margin: 0 !IMPORTANT;
  opacity: 0 !IMPORTANT;
  padding: 0 !IMPORTANT;
  width: 0 !IMPORTANT;
}
.dxb-hbc .dxb-hb {
  height: 1px !IMPORTANT;
  position: relative;
  width: 1px !IMPORTANT;
}

.ieError {
  background: white;
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 9999;
}
.ieError div {
  border: 1px solid #cdcdcd;
  font-size: 15px;
  margin: 200px auto;
  padding: 20px;
  width: 50%;
}
.ieError div a {
  color: #06a7ff;
  font-size: 15px;
}

.margin-0-auto-20 {
  margin: 0 auto 20px !important;
}

.text-color-blue {
  color: #57c4ff !important;
}

.font-weight-bold {
  font-weight: bold;
}

#genericViewTable {
  margin: 0 auto;
}

.button-grey {
  background-color: #848484;
}

.margin-top-10 {
  margin-top: 10px;
}

.panel {
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  background-color: white;
  border: 1px solid transparent;
  margin-bottom: 20px;
}

.panel-primary {
  border-color: #06a7ff;
}
.panel-primary > .panel-heading {
  background-color: #06a7ff;
  border-color: #06a7ff;
  color: white;
}

.panel-custom {
  float: left;
  margin-top: 15px;
  width: auto;
}

.panel-heading {
  border-bottom: 1px solid transparent;
  padding: 10px 15px;
}

.panel-title {
  color: inherit;
  font-size: 16px;
  line-height: 1.1;
  margin-bottom: 0;
  margin-top: 0;
}

.panel-body {
  padding: 15px;
}
.panel-body:before, .panel-body:after {
  content: " ";
  display: table;
}
.panel-body .float-left p span {
  color: #428bca !important;
  display: inline !important;
  font-size: 14px !important;
}

.transformation-grid {
  border-top: 3px solid #57c4ff;
  margin-top: 10px;
  padding-top: 8px;
}

.relatedPopUp {
  cursor: pointer;
}

.checkbox-new-item {
  border: 1px solid #008dda;
  color: #008dda !important;
  float: left;
  margin-left: 5px;
  margin-top: 5px;
  width: 100px;
}
.checkbox-new-item label {
  color: #0a79b5 !important;
}
.checkbox-new-item table:first-child {
  margin-bottom: 9px !important;
  margin-top: 7px;
}

.margin-top-5 {
  margin-top: 5px !important;
}

.margin-left-5 {
  margin-left: 5px;
}

.margin-auto {
  margin: auto;
}

.advanced-item-info-button {
  border: 1px solid #008dda;
  color: #008dda !important;
  float: left;
  margin-right: 10px;
  margin-top: 5px;
}
.advanced-item-info-button label {
  color: #0a79b5 !important;
  float: left;
  margin-left: 5px;
  margin-top: 9px;
}
.advanced-item-info-button .Upbutton {
  padding: 5px;
}

.checkbox-item-advanced {
  text-shadow: none;
  -webkit-transition: all 0.12s linear 0s !important;
  -o-transition: all 0.12s linear 0s !important;
  -moz-transition: all 0.12s linear 0s !important;
  transition: all 0.12s linear 0s !important;
  background-color: #06a7ff;
  border: none;
  border-collapse: collapse;
  box-shadow: none;
  cursor: pointer;
  display: inline-block;
  font: 14px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-right: 5px;
  margin-top: 5px;
  padding: 8px;
  text-align: center;
  vertical-align: middle;
}
@media (max-width: 1200px) {
  .checkbox-item-advanced {
    padding: 6px 8px;
  }
}
.checkbox-item-advanced label {
  color: white !important;
  font-size: 12px !important;
}

.upinfo .button-font-size-11 {
  margin-right: 5px;
  padding: 9px 8px;
}
.upinfo .button-font-size-11 span {
  font-size: 12px;
}
.upinfo .button-font-size-12 {
  margin-right: 5px;
  padding: 9px 8px;
}
.upinfo .button-font-size-12 span {
  font-size: 12px;
}
.upinfo .dxbButton_ITSTheme1.dxbDisabled_ITSTheme1 {
  background-color: #dbdbdb;
}

.dxeDisabled_ITSTheme1 input {
  color: #848484 !important;
}
.dxeDisabled_ITSTheme1.white-input input {
  color: white !important;
}

.wizard-button {
  margin-left: 12px;
}

.wizard-button-group, .wizard-inline-buttons {
  margin-bottom: 20px;
}

.padding-top-40-important {
  padding-top: 40px !important;
}

.padding-top-30-important {
  padding-top: 30px !important;
}

.wizard-titles-container {
  background-color: #e9e9e9;
  border: 1px solid #bdc2c7 !important;
  margin: 30px 0 0;
  padding: 10px;
}

.advanced-document-search-field {
  font-weight: bold;
}
.advanced-document-search-field input {
  color: #005888 !important;
}

.padding-top-0-important {
  padding-top: 0 !important;
}

.padding-top-25-important {
  padding-top: 25px !important;
}

.dxeRequiredMark_ITSTheme1 {
  color: #b60000 !important;
  font-size: 12px;
  vertical-align: top;
}

#WizardCallbackPanel_LPV {
  top: 50% !important;
}

.wizard-first-step {
  margin: 0 auto;
}

.wizard-steps-header-group {
  margin: 0 auto;
}

.wizard-steps-header {
  margin: 0 auto;
}
.wizard-steps-header .dxflGroupBox_ITSTheme1 {
  margin-top: 0 !important;
}
.wizard-steps-header .dxflGroupBoxCaption_ITSTheme1 {
  text-align: center;
  width: 100%;
}
.wizard-steps-header .dxflGroupBoxCaption_ITSTheme1:after {
  border-color: #4373a4 #00254b white #00254b;
  border-style: solid;
  border-width: 0 0 10px 10px;
  content: "";
  height: 0;
  position: absolute;
  right: -1px;
  top: 25px;
  width: 0;
}

.wizard-grid {
  margin-top: 15px;
}
.wizard-grid .tree-list-header {
  border-bottom: 1px solid #06a7ff;
}
.wizard-grid .dxtlControl_ITSTheme1 caption {
  border: 0 solid white;
}
.wizard-grid.dxtlControl_ITSTheme1 caption {
  border: 0 solid white;
}

.tree-list-border-blue {
  border-color: #06a7ff;
  border-width: 2px;
}

.selected-pricecatalog-listbox-container {
  border-color: #06a7ff;
  border-width: 2px;
}

.selected-pricecatalog-listbox .dxeCaptionCell_ITSTheme1 {
  background: #06a7ff;
  border-bottom: 0 solid silver;
  color: white;
  font-size: 15px;
  font-weight: normal;
  padding: 3px 3px 5px;
  text-align: center;
}
.selected-pricecatalog-listbox .dxeCaptionCell_ITSTheme1 label {
  color: white !important;
}
.selected-pricecatalog-listbox .dxeListBoxItem_ITSTheme1.dxeDisabled_ITSTheme1 {
  background-color: #929292;
  color: white;
}

.promotion-table-command-column {
  -webkit-transition: all 0.12s linear 0s !important;
  -o-transition: all 0.12s linear 0s !important;
  -moz-transition: all 0.12s linear 0s !important;
  transition: all 0.12s linear 0s !important;
  background-color: #57c4ff;
  border: none;
  box-shadow: none;
  color: white !important;
  cursor: pointer;
  display: inline-block;
  font: 12px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 20px;
  padding: 7px 11px;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
}
.promotion-table-command-column:hover {
  background-color: #06a7ff;
}

.blue-color-promotion-command {
  color: #0085cd;
  font-size: 13px;
  line-height: 1.6em;
}

.wizard-error-panel {
  border: 1px solid #cb4b36 !important;
  text-align: center;
}
.wizard-error-panel .error-text {
  color: #ef3e23 !important;
  font-size: 14px !important;
  text-align: center !important;
}
.wizard-error-panel .dxpc-header.dxpc-withBtn {
  background-color: #dc2d10;
  color: white;
}

.auto-height-modal {
  height: 100% !important;
}

.vertical-align-td-top {
  vertical-align: top;
}

.vertical-align-td-middle {
  vertical-align: middle;
}

.vertical-align-td-bottom {
  vertical-align: bottom;
}

.temp-object-link {
  color: white;
  text-decoration: none;
}

.temp-object-dropdown {
  -moz-border-radius: inherit;
  -webkit-border-radius: inherit;
  border-radius: inherit;
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.17);
  font-weight: normal;
  left: 42px;
  list-style: none;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 39px;
  width: 160px;
}
.temp-object-dropdown.active {
  opacity: 1;
  pointer-events: auto;
}

.cursor-pointer {
  cursor: pointer;
}

.dxflGroupCell_ITSTheme1 {
  vertical-align: top;
}

.grey-border-with-bg {
  background: #f0f0f0 !important;
  border: 1px solid #cdcdcd;
  width: auto !important;
}

.text-center {
  text-align: center !important;
}

.item-center-div {
  display: table;
  margin: 0 auto;
}

.col {
  margin-top: 5px;
}
.col .label {
  margin-top: 5px;
}
.col .dxeOutOfRWarn_ITSTheme1 {
  display: none !important;
}
.col .custom-checkbox-height {
  height: 62px;
}
@media (max-width: 1200px) {
  .col .custom-checkbox-height {
    height: 52px;
  }
}

.margin-top-1-perc {
  margin-top: 1%;
}

.max-height-225 {
  max-height: 225px;
}

.display-table {
  display: table;
}

.padding-bottom-20-important {
  padding-bottom: 20px !important;
}

.grey-bg-form {
  background-color: #e9e9e9;
  border: 1px solid #bdc2c7 !important;
  padding: 10px;
}

.big-span {
  -moz-box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.5);
  background-color: #06a7ff;
  color: white !important;
  display: inline-block;
  font-size: 18px;
  font-weight: normal !important;
  left: -20px;
  padding: 2px 20px;
  position: relative;
  top: -5px;
}
.big-span:before {
  border-color: #4373a4 #00254b transparent #00254b;
  border-style: solid;
  border-width: 0 10px 10px 0;
  content: "";
  height: 0;
  left: -1px;
  position: absolute;
  top: 25px;
  width: 0;
}

.margin-top-10-important {
  margin-top: 10px !important;
}

.upload-control-css {
  padding-top: 0 !important;
}

.padding-top-2 {
  padding-top: 2px;
}

.POS_POSStatus .pull-left {
  float: left;
}
.POS_POSStatus .pull-right {
  float: right;
}
@media (max-width: 1200px) {
  .POS_POSStatus .pull-right, .POS_POSStatus .pull-left {
    float: none;
    margin: 0 auto;
    position: relative;
    width: 525px;
  }
}

#grdPOSStatuses {
  clear: both;
}

.ribbon-custom {
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  background-color: #06a7ff;
  background-image: linear-gradient(to bottom, #428bca, #06a7ff);
  filter: progid:dximagetransform.microsoft.gradient(gradienttype=0,startcolorstr='$color_boston_blue_approx', endcolorstr='$color_dodger_blue_approx');
  font-size: 18px !important;
  margin: 0 auto;
  text-align: center;
  width: 300px;
}
.ribbon-custom h1 {
  color: white;
  font-size: 16px !important;
  margin: 0;
  padding: 8px 10px;
  text-shadow: #525252 0 1px 0;
}

.ribbon-stitches-top {
  -moz-box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
  margin-top: 2px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.ribbon-stitches-bottom {
  -moz-box-shadow: 0 0 2px rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0 0 2px rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.3);
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 2px;
}

.width-220 {
  width: 220px;
}

.font-bold {
  font-weight: bold !important;
}

.font-color-red {
  color: #b60000 !important;
}

.border-color-red {
  border: 1px solid #ec0000;
}

.menu .close_btn {
  color: #ff5c00;
  font-size: 28px;
}

.dxgvTable_ITSTheme1 a img {
  display: inline-block;
  margin-right: 3px;
  width: 24px;
}

.PopUpView .button_container {
  background: transparent;
  box-shadow: none;
  float: none;
  left: auto;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 35px;
  text-align: left;
  top: 7px;
  width: auto;
  z-index: 0;
}
.PopUpView .button_container .button {
  padding: 3px;
}

.SimpleView .button_container {
  background: none;
  box-shadow: none;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
}

.Upbutton.dxeDisabled {
  opacity: 0.1;
}

.dxichTextCellSys label {
  margin-bottom: 0 !important;
}

.dxtlControl_ITSTheme1 .dxpcDropDown_ITSTheme1 .dxpc-content {
  padding: 0 !important;
}

table.promotionTable > tbody > tr > td {
  padding: 0 8px 8px 0;
}

#PromotionTreeList .dxtlEditForm_ITSTheme1 {
  background: #ececec;
}

.dxtlNode_ITSTheme1 .dxtlCommandCell_ITSTheme1 a {
  -webkit-transition: all 0.12s linear 0s !important;
  -o-transition: all 0.12s linear 0s !important;
  -moz-transition: all 0.12s linear 0s !important;
  transition: all 0.12s linear 0s !important;
  background-color: #57c4ff;
  border: none;
  box-shadow: none;
  color: white;
  cursor: pointer;
  display: inline-block;
  font: 12px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 20px;
  padding: 7px 11px;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
}
.dxtlNode_ITSTheme1 .dxtlCommandCell_ITSTheme1 a:hover {
  background-color: #06a7ff;
}

#WizardCallbackPanel .dxpc-header {
  margin-bottom: 0;
}

.dxgvSelectedRow_ITSTheme1 .promotion-table-command-column {
  background-color: white;
  color: #0085cd !important;
}
.dxgvSelectedRow_ITSTheme1 .promotion-table-command-column:hover {
  background-color: #777777;
  color: white !important;
}

.validation-summary-errors ul li {
  color: #ef3e23;
}

.CustomReport.Edit.CustomReport_Edit.invheight .UploadImageForm {
  padding-top: 20px;
}

#IsActive .label {
  font-size: 15px !important;
}

.radioButtonList .dxichTextCellSys .dx-wrap {
  font-size: 18px !important;
}

td #ownerappsettings_3_8 {
  vertical-align: bottom;
}

.tab-top-padding {
  padding-top: 15px;
}

.category-tree {
  background: rgba(0, 0, 0, 0.02);
  box-shadow: 0 0px 1px 1px rgba(0, 0, 0, 0.3);
  padding: 10px;
}

.zero-padding {
  padding: 0;
}

.title-container .label {
  height: 100%;
  font-size: 15px !important;
  color: #FFF !important;
  background: #AAA;
  padding: 0 15px;
  line-height: 30px;
  position: relative;
  border-left: 10px solid #424242;
  -webkit-touch-callout: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin: 0 !important;
}

.zero-padding-top-important {
  padding-top: 0 !important;
}

.upload-form {
  padding-top: 30px;
}

.zero-col, .zero-col:before, .zero-col:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.price-catalog-customer {
  background: #ececec;
  padding-top: 4px;
}

.padding-10 {
  padding: 10px;
}

.padding-left-10 {
  padding-left: 10px;
}

.title-blue {
  font-size: 18px;
  font-weight: normal;
  padding: 4px 3px 5px;
  text-align: center;
  color: white;
  background: #06a7ff;
  border-bottom: 1px solid silver;
  margin-top: 5px;
}

.background-grey {
  margin-top: 15px;
  float: none;
  border: 1px solid #cdcdcd;
  padding: 8px;
  margin-bottom: 20px;
  background: #f0f0f0;
  display: table;
}

.dxgvGroupPanel_ITSTheme1 {
  height: 36px;
}
.dxgvGroupPanel_ITSTheme1 .dxgvHeader_ITSTheme1 {
  line-height: 28px;
}

.hidden-button {
  display: none;
}

.temporary-inline-form {
  display: inline-flex;
}

.margin-top-18 {
  margin-top: 18px;
}

.formInstances.auto-zero-margin {
  margin: 0 auto;
}

.calculation-description {
  width: 200px;
  background-color: #06A7FF;
  padding: 2px 20px;
  position: relative;
  font-weight: normal !important;
  font-size: 18px;
  box-shadow: 3px 5px 10px -3px rgba(0, 0, 0, 0.5);
}
.calculation-description p {
  color: #fff;
}

.outer-center {
  display: inline-block;
  margin-top: 20px;
}

.height-full .dxflGroup_ITSTheme1 tr:last-child > .dxflGroupCell_ITSTheme1 > .dxflGroupBox_ITSTheme1 {
  height: 573px;
}

.height-half .dxflGroup_ITSTheme1 tr:last-child > .dxflGroupCell_ITSTheme1 > .dxflGroupBox_ITSTheme1 {
  height: 274px;
}

.isInviewMode table.headerTable {
  margin: 0 auto 20px;
}

.fa-2dot5x {
  font-size: 2.5em !important;
}

.padding-top-7 {
  padding-top: 7px;
}

.dxrpCollapsed .dxrpcontent > .dxrpCW, .dxrpAW {
  overflow-y: visible;
}

.dxeCLTSys {
  padding: 0px 0 !important;
}

#ViewvatAnalysisInfoPanel .style_table {
  padding-top: 15px;
}

.padding-bottom-10 {
  padding-bottom: 10px;
}

#temporaryFilterContainer {
  float: left;
}

.profile-Header.dxrpControl_ITSTheme1 .dxrpHeader_ITSTheme1 {
  background-color: #06A7FF;
  display: inline-block;
  left: -30px;
  padding: 2px 20px;
  position: relative;
  font-weight: normal !important;
  top: -10px;
  font-size: 18px;
  color: #FFF !important;
  box-shadow: 3px 5px 10px -3px rgba(0, 0, 0, 0.5);
}
.profile-Header.dxrpControl_ITSTheme1 .dxrpHeader_ITSTheme1:before {
  border-color: #4373a4 #00254b transparent #00254b;
  border-style: solid;
  border-width: 0 10px 10px 0;
  content: '';
  height: 0;
  left: -1px;
  position: absolute;
  top: 25px;
  width: 0;
}

.padding-top-18 {
  padding-top: 18px;
}

.SupplierImportFilesSet .dxflGroupCell_ITSTheme1 {
  vertical-align: middle;
}

#PivotGrid .dxpgHeaderTable_ITSTheme1 {
  border: 1px solid  #C0C0C0;
}
#PivotGrid .dxpgColumnFieldValue_ITSTheme1, #PivotGrid .dxpgHeaderText_ITSTheme1 {
  font-weight: bold;
  color: #333;
}

.pivot-header {
  font-size: 18px;
  font-weight: normal;
  padding: 4px 3px 5px;
  text-align: center;
  font-family: Arial, sans-serif;
  border-bottom: 1px solid #C0C0C0;
  background: #06A7FF !important;
  color: #FFF !important;
}

.dxGridView_gvDetailExpandedButton_ITSTheme1 {
  width: 13px !important;
}

.fa-3dot5x {
  font-size: 3.5em !important;
}

.yellow-anchor a {
  color: #fff33b;
}

@media (max-width: 1200px) {
  .height-full .dxflGroup_ITSTheme1 tr:last-child > .dxflGroupCell_ITSTheme1 > .dxflGroupBox_ITSTheme1 {
    height: 516px;
  }
}
@media (max-height: 470px) {
  .its-logo {
    display: none !important;
  }
}
@media (max-width: 1200px) {
  .dxpcLite_ITSTheme1 .dxpc-header, .dxdpLite_ITSTheme1 .dxpc-header {
    font-size: 15px !important;
    padding: 12px 7px 12px 7px !important;
  }

  .dxpc-mainDiv.isInviewMode .dxeTextBoxSys, .dxpc-mainDiv.isInviewMode .dxeButtonEditSys {
    width: 95% !important;
  }

  #labelsFilterPanel table.FilterPanel {
    position: absolute;
    top: 34px;
    z-index: 1;
  }
  #labelsFilterPanel .dxgvControl_ITSTheme1.styleGrid {
    position: absolute !important;
    top: 34px !important;
  }

  #labels_ET #labels_CC .dxeButtonEditSys {
    width: 130px !important;
  }

  .POS.EditView.POS_EditView.invheight .dxeTextBoxSys, .POS.EditView.POS_EditView.invheight .dxeButtonEditSys {
    width: 175px !important;
  }

  .dxeTextBox_ITSTheme1 td.dxic .dxeEditArea_ITSTheme1, .dxeButtonEdit_ITSTheme1 td.dxic .dxeEditArea_ITSTheme1 {
    padding: 2px 0 !important;
  }

  .dxucControl_ITSTheme1, .dxucEditArea_ITSTheme1 {
    padding: 5px 0;
  }

  .dxgvEditFormDisplayRow_ITSTheme1 td.dxgv, .dxgvDataRow_ITSTheme1 td.dxgv, .dxgvDataRowAlt_ITSTheme1 td.dxgv, .dxgvSelectedRow_ITSTheme1 td.dxgv, .dxgvFocusedRow_ITSTheme1 td.dxgv {
    padding: 2px 5px;
  }
}
@media (max-width: 1100px) {
  .dxeMemoSys textarea {
    max-height: 100px !important;
  }

  .Item.EditView.Item_EditView.invheight .ValidationContainer .validateForm, .ValidationContainer .validateForm {
    margin: 0 auto !important;
  }

  .Offer.EditView.Offer_EditView.invheight .headerTable.validateForm {
    margin: 20px auto !important;
  }

  .Company.Edit.Company_Edit.invheight .headerTable.validateForm {
    margin: 0 0 20px;
  }
}
