UpgradeLog*.htm
UpgradeLog*.xml
*.cache
*.pdb
*.psess
*.suo
*.vsp
*.csproj.user
*.idea
*.properties
*.log
*.bak
*.sass-cache
*.tmp
*.user

licenses.licx

Backup
CCO
MessageClientTest
MessageServerTest
bin
obj
doxygen
TestResults
bin/
obj/
node_modules/
.vs
Debug/
Release/
Documentation/DoxygenDocumentation/html/
External/build
External/ICSharpCode/ICSharpCode.AvalonEdit/*.tmp_proj
ITS/POS/Client/ITS.POS.Client/backup/
ITS/POS/Fiscal/ITS.POS.Fiscal.GUI/Service/*.dll
ITS/POS/Fiscal/ITS.POS.Fiscal.GUI/Service/*.exe
ITS/POS/Fiscal/ITS.POS.Fiscal.GUI/Service/*.config
ITS/POS/Fiscal/ITS.POS.Fiscal.GUI/Service/*.xml
ITS/Retail/Setups/*.msi
ITS/Retail/Setups/*.exe
ITS/Retail/Setups/**/Debug/
ITS/Retail/Setups/**/Release/
ITS/Retail/Tools/ITS.Retail.MigrationTool/Configuration/config.xml
ITS/Retail/WebClient/ITS.Retail.WebClient/App_Data/
ITS/Retail/WebClient/ITS.Retail.WebClient/Configuration/*.xml
ITS/Retail/WebClient/ITS.Retail.WebClient/Configuration/StoreControllerStatus.json
ITS/Retail/WebClient/ITS.Retail.WebClient/Mobile/*.cab
ITS/Retail/WebClient/ITS.Retail.WebClient/Mobile/*.inf
ITS/Retail/WebClient/ITS.Retail.WebClient/Log/
ITS/Retail/WebClient/ITS.Retail.WebClient/Tools/Bridge Client
ITS/Retail/WebClient/ITS.Retail.WebClient/Tools/Configuration - Migration Tool
ITS/Retail/WebClient/ITS.Retail.WebClient/Tools/Keyboard Tool
ITS/Retail/WebClient/ITS.Retail.WebClient/Tools/Layout Builder
ITS/Retail/WebClient/ITS.Retail.WebClient/Tools/FormDesigner
ITS/Retail/WebClient/ITS.Retail.WebClient/Tools/ReportDesigner
ITS/Retail/WebClient/ITS.Retail.WebClient/Temp
ITS/Retail/WebClient/ITS.Retail.WebClient/Themes/DevExpress*.dll
ITS/Retail/WebClient/Themes/Theme_Sources/ThemeAssembly.dll
ITS/Retail/WebClient/ITS.Retail.WebClient/Web References/gr.gsis.ws/GenWsErrorRtUser2.datasource
ITS/Retail/WebClient/ITS.Retail.WebClient/Web References/gr.gsis.ws/RgWsBasStoixEpitRtUser2.datasource
ITS/Retail/WebClient/ITS.Retail.WebClient/Web References/gr.gsis.ws/RgWsBasStoixNRtUser2.datasource
ITS/Retail/WebClient/ITS.Retail.WebClient/POS/*.exe
ITS/Retail/WebClient/ITS.Retail.WebClient/POS/*.zip
ITS/Retail/WebClient/ITS.Retail.WebClient/POS/Layout Designer/
ITS/Retail/WebClient/ITS.Retail.WebClient/POS/version
ITS/Retail/WebClient/ITS.Retail.WebClient/POS/ScreenShotTool/
ITS/Retail/WebClient/ITS.Retail.WebClient/POS/SpecificDeviceImplementations/
ITS/Retail/WebClient/Themes/ThemeAssembly1/de/
ITS/Retail/WebClient/Themes/ThemeAssembly1/es/
ITS/Retail/WebClient/Themes/ThemeAssembly1/ru/
ITS/Retail/WebClient/Themes/ThemeAssembly1/ja/
ITS/Retail/WebClient/Themes/ThemeAssembly1/el/
ITS/Retail/WebClient/Themes/ThemeAssembly1/*.dll
ITS/Retail/WebClient/Themes/ThemeAssembly1/*.xml
Mobile/ITS.MobileAtStore.Setup/Debug/
Mobile/ITS.MobileAtStore.Setup/Release/
Tests/UITesting/
Tests/Test Results/*.xml
!*.dll
/ITS/Retail/WebClient/ITS.Retail.WebClient/Scripts/react/npm-debug.log.f316603c558bd9898708cf368cfcebe7
/Automation/Gulp/npm-shrinkwrap.json
/ITS/Retail/WebClient/ITS.Retail.WebClient/POS/POSVersions
/ITS/Retail/WebClient/ITS.Retail.WebClient/POS/POSMaster
/ITS/Retail/WebClient/ITS.Retail.WebClient/POS/Log/2016-03-31_04-54-16-μμ.txt
/ITS/Retail/WebClient/ITS.Retail.WebClient/POS/Configuration/ZReportFormat.xml
/ITS/Retail/WebClient/ITS.Retail.WebClient/POS/Configuration/XReportFormat.xml
/ITS/Retail/WebClient/ITS.Retail.WebClient/POS/Configuration/ReceiptFormat.xml
/ITS/Retail/WebClient/ITS.Retail.WebClient/POS/Configuration/Globals.xml
/ITS/Retail/WebClient/ITS.Retail.WebClient/POS/Configuration/EntityUpdaterModes.xml
/ITS/Retail/WebClient/ITS.Retail.WebClient/POS/Configuration/Devices.xml
/ITS/Retail/WebClient/ITS.Retail.WebClient/POS/Configuration/CustomActionCodes.xml
/ITS/Retail/WebClient/ITS.Retail.WebClient/POS/Configuration/ActionLevels.xml
/Deploy/
/Mobile/Retail.Mobile/el_Retail.Mobile.Resources.dll
/Mobile/Retail.Mobile/no_Retail.Mobile.Resources.dll
/ITS/Retail/WebClient/ITS.Retail.WebClient/license.its
/ITS/Retail/WebClient/ITS.Retail.WebClient/Configuration/nionios_wrm.config
/ITS/Retail/WebClient/ITS.Retail.WebClient/Configuration/localhost_wrm.config
/ITS/Retail/WebClient/ITS.Retail.WebClient/Configuration/license.its
/ITS/Retail/Api/ITS.Retail.Api/Configuration/wrm.xml
/ITS/Retail/WebClient/ITS.Retail.WebClient/Configuration/official_wrm.config
/packages/DotNetZip.1.9.1.8/lib
/packages/
/ITS.WRM.SFA/packages/
/ITS/POS/Fiscal/ITS.POS.Fiscal.GUI/Service/ITS.FiscalServer.sqlite
/ITS/POS/Fiscal/ITS.POS.Fiscal.GUI/Service/FiscalServer.sqlite
/UpgradeLog.htm
/UpgradeLog2.htm
/UpgradeLog5.htm
/UpgradeLog4.htm
/UpgradeLog6.htm
/UpgradeLog3.htm
