.dxSpreadsheet_Copy_ITSTheme1,
.dxSpreadsheet_Cut_ITSTheme1,
.dxSpreadsheet_Delete_Hyperlink_ITSTheme1,
.dxSpreadsheet_Hyperlink_ITSTheme1,
.dxSpreadsheet_OpenHyperlink_ITSTheme1,
.dxSpreadsheet_Paste_ITSTheme1
{
    background-image: url('<%=WebResource("ThemeAssembly1.App_Themes.ITSTheme1.Spreadsheet.sprite.png")%>');
    background-repeat: no-repeat;
    background-color: transparent;
}
.dxSpreadsheet_Copy_ITSTheme1
{
    background-position: -17px -17px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_Cut_ITSTheme1
{
    background-position: 0px -34px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_Delete_Hyperlink_ITSTheme1
{
    background-position: -17px 0px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_Hyperlink_ITSTheme1
{
    background-position: -17px -34px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_OpenHyperlink_ITSTheme1
{
    background-position: 0px 0px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_Paste_ITSTheme1
{
    background-position: 0px -17px;
    width: 16px;
    height: 16px;
}

