@model IEnumerable<Store>
@using ITS.Retail.ResourcesLib;
@{
    ViewBag.Title = Resources.Stores;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section HeaderScriptsAndStyles {
    <script src="@Url.Content("~/Scripts/scripts/EditStore.js?ver=" + ViewData["ApplicationVersionNumber"])" type="text/javascript"></script>
    <link href="@Url.Content("~/Content/css/Settings.css?v=" + ViewData["ApplicationVersionNumber"])" rel="stylesheet" type="text/css" />
}

@{
    ViewContext.Writer.Write("<div class='buttonGridContainer'>");
    Html.DevExpress().Button(s =>
    {
        s.Name = "btShowCustomizationWindow";
        s.ControlStyle.CssClass = "btCustomizationWindow";
        s.Text = "";
        s.ControlStyle.BackgroundImage.ImageUrl = Url.Content("~/Content/img/ColumnCustomization.png?v=" + ViewData["ApplicationVersionNumber"]);
        s.ToolTip = Resources.CustomizeColumns;
        s.ClientSideEvents.Click = "function(s,e){UpdateCustomizationWindowVisibility(grdStore)}";
    }).GetHtml();

    ViewContext.Writer.Write("</div>");
}

@Html.Partial("../Shared/PopupEditCallbackPanel")

@Html.Partial("Grid", Model)
