<style>
    .row h2 {
        color: #00a7dd;
        font-family: cursive;
    }

    .lead {
        color: #5d5d5d !important;
    }
</style>

<div class="jumbotron">
    <h1 style="color:#337ab7;">WEB RETAIL MARKET </h1>
    <p class="lead">WRM IS A COMPLETE BUSINESS PLATFORM SPECIALIZING ON WHOLESALE AND RETAIL SALES, SUITABLE FOR COMPANIES LOOKING TO EXPAND THEIR SALES NETWORK.</p>
    <p><a href="http://www.webretailmarket.gr/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2 style="color:#00a7dd;"> MULTI STORE</h2>
        <p>
            WRM supports multi store companies, provides a common mean to administer wholesale, retail and e-commerce sales and accomplishes the optimal user experience and service.
        </p>
        <p><a class="btn btn-default" href="http://www.webretailmarket.gr/#whatiswrm">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>MULTI BUSINESS</h2>
        <p>
            WRM is a multibusiness suite that gives its customers the ability to exchange data and share common infastructure and functionality. Additionally reduces business cost.
        </p>
        <p><a class="btn btn-default" href="http://www.webretailmarket.gr/#whatiswrm">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>STORE MANAGEMENT</h2>
        <p>
            WRM is also an efficient platform for small businesses that enhances their effectiveness. Bussinesses have a usefull management platform for their sales and purchases and also gain an online presence.
        </p>
        <p><a class="btn btn-default" href="http://www.webretailmarket.gr/#whatiswrm">Learn more &raquo;</a></p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2> B2B</h2>
        <p>
            With WRM the enterprise acquires a powerful B2B, providing immediate information to its customers. It is a modern tool where it can expand the company's customer base without geographical borders and minimizes operational costs.
        </p>
        <p><a class="btn btn-default" href="http://www.webretailmarket.gr/#whatiswrm">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>B2C</h2>
        <p>
            Through the WRM suite, the company acquires a flexible and powerful B2C to give its customers the opportunity to be informed about news and offerings. The business operates as an integrated platform eliminating the complexity of interconnection of heterogeneous systems.
        </p>
        <p><a class="btn btn-default" href="http://www.webretailmarket.gr/#whatiswrm">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>POS APPLICATION</h2>
        <p>
            WRM POS Client is designed to serve all the needs of a retail store. Its key features are speed and ease of use.
        </p>
        <p><a class="btn btn-default" href="http://www.webretailmarket.gr/#whatiswrm">Learn more &raquo;</a></p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2> ANDROID APPLICATION</h2>
        <p>
            WRM supports processes of sales force automation (sales order management in the field) by using a dedicated Android application. It's main feature is the full offline operation and bidirectional communication with the central WRM server through WiFi, 3G / 4G. Thus providing a veritable tool for sellers.
        </p>
        <p><a class="btn btn-default" href="http://www.webretailmarket.gr/#whatiswrm">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>WINDOWS CE</h2>
        <p>
            Expands application's functionality within the store area and enables users to perform, trace and control daily tasks, thus minimizing errors and improving user's productivity.
        </p>
        <p><a class="btn btn-default" href="http://www.webretailmarket.gr/#whatiswrm">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>REPORT DESIGNER</h2>
        <p>
            Report Designer (RD) is a tool that allows us to design reports and incorporate them into WRM. Report Designer is a invaluable tool for consultants and system administrators.
        </p>
        <p><a class="btn btn-default" href="http://www.webretailmarket.gr/#whatiswrm">Learn more &raquo;</a></p>
    </div>
</div>

