@using ITS.Retail.ResourcesLib;
@using System.Linq;
@using ITS.Retail.Platform.Enumerations;

@section HeaderScriptsAndStyles {

    <script src="@Url.Content("~/Scripts/scripts/CompanyProms.js?ver=" + ViewData["ApplicationVersionNumber"])" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/scripts/WizardCommon.js?ver=" + ViewData["ApplicationVersionNumber"])" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/scripts/Wizard.js?ver=" + ViewData["ApplicationVersionNumber"])" type="text/javascript"></script>
}

@{
    ViewBag.Title = Resources.Promotions;
}

@{
    ViewContext.Writer.Write("<div class='buttonGridContainer'>");
    Html.DevExpress().Button(s =>
    {
        s.Name = "btShowCustomizationWindow";
        s.ControlStyle.CssClass = "btCustomizationWindow";
        s.Text = "";
        s.ControlStyle.BackgroundImage.ImageUrl = Url.Content("~/Content/img/ColumnCustomization.png?v=" + ViewData["ApplicationVersionNumber"]);
        s.ToolTip = Resources.CustomizeColumns;
        s.ClientSideEvents.Click = "function(s,e){UpdateCustomizationWindowVisibility(grdPromotions)}";
    }).GetHtml();

    ViewContext.Writer.Write("</div>");
}
@Html.Partial("Grid")
