@{
    dynamic qty = DataBinder.Eval(Model, "Quantity");
    dynamic val = DataBinder.Eval(Model, "Value");
    int value = 0;
    if (val != null && val > 0)
    {
        value++;
    }
}
@{
    ViewContext.Writer.Write("<td>");
}

@Html.DevExpress().RadioButtonList(settings =>
{
    settings.Name = "TypeSelector";
    //settings.ControlStyle.CssClass = "padding-top-25-important";
    settings.Properties.Items.Add(Resources.Quantity, 0);
    settings.Properties.Items.Add(Resources.Value, 1);
    settings.Properties.ValueType = typeof(int);
    settings.Properties.RepeatColumns = 2;
}).Bind( DataBinder.Eval(Model, "TypeSelector")).GetHtml()
@{
    ViewContext.Writer.Write("</td>");
    ViewContext.Writer.Write("<td>");
}


@Html.DevExpress().SpinEdit(settings =>
{
    settings.Properties.Caption = Resources.Quantity + " / " + Resources.Value;
    settings.Name = "QuantityOrValue";
    settings.Properties.MinValue = 0.001m;
    settings.Properties.MaxValue = 99999m;
    settings.Properties.CaptionSettings.Position = EditorCaptionPosition.Top;
    settings.Properties.ValidationSettings.ValidateOnLeave = true;
    settings.Properties.ValidationSettings.EnableCustomValidation = true;
    settings.Properties.ValidationSettings.RegularExpression.ValidationExpression = @"([1-9][0-9]*(\.[0-9]*[1-9])?|0\.[0-9]*[1-9])";

}).Bind(DataBinder.Eval(Model, "QuantityOrValue")).GetHtml()

@{
    ViewContext.Writer.Write("</td>");
}

