@Html.DevExpress().TreeView(settings =>
{
    settings.CallbackRouteValues = new { Controller = ViewBag.ControllerName, Action = "ItemCategoryTreeView" };
    settings.Name = "CategoryTreeView";
    settings.AllowCheckNodes = false;
    settings.AllowSelectNode = true;
    settings.CheckNodesRecursive = true;
    settings.EnableAnimation = true;
    settings.EnableHotTrack = true;
    settings.Width = 500;
    settings.ShowTreeLines = true;
    settings.ShowExpandButtons = true;
    settings.ClientSideEvents.NodeClick = "TreeViewGetData";
    settings.ClientSideEvents.ExpandedChanged = "CategoryTreeViewExpanded";
    settings.ClientSideEvents.EndCallback = "CategoryTreeViewExpanded";
    settings.SetNodeTextTemplateContent(c =>
    {
        ViewContext.Writer.Write("<div id='" + c.Node.Name + "'><span class='dxtv-ndTxt'>" + c.Node.Text + "</span><img class='hidden node_img' alt='" + c.Node.Text + "' src='" + Url.Content("~/Content/img/View.png?ver=" + ViewData["ApplicationVersionNumber"]) + "' /></div>");
    });
}).BindToVirtualData(TreeHelper.VirtualModeCreateChildren<ItemCategory>(ViewBag.Owner)).GetHtml()