@{
    ViewBag.Title = ITS.Retail.ResourcesLib.Resources.TermsAndConditions;
}

<h2>@ViewBag.Title</h2>
@{
    ViewContext.Writer.Write("TODO");
    //ViewContext.Writer.Write(ITS.Retail.WebClient.Helpers.AppiSettings.Terms);   
}