@using ITS.Retail.ResourcesLib;

@{
    ViewBag.Title = Resources.UnderConstruction;
}

<div style="text-align:center">
    <img src="@Url.Content("~/Content/figures/under_construction_animated.gif?ver=" + ViewData["ApplicationVersionNumber"])" />
</div>
