<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="ITS.Licensing.ClientLibrary.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<startup /><applicationSettings>
		<ITS.Licensing.ClientLibrary.Properties.Settings>
   <setting name="ITS_License_ClientLibrary_LicenseWebService_LicenceWebService" serializeAs="String">
    <value>http://dvk-pc/ITS.Licensing.Service/LicenceWebService.asmx</value>
   </setting>
  </ITS.Licensing.ClientLibrary.Properties.Settings>
	</applicationSettings>
</configuration>
