<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="ITS.MobileAtStore.Common.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v2.0.50727"/></startup>
    <applicationSettings>
        <ITS.MobileAtStore.Common.Properties.Settings>
            <setting name="ITS_Mobile_Store_Common_WRMService_MobileAtStoreService"
                serializeAs="String">
                <value>http://localhost/ITS.Retail.WebClient/MobileAtStoreService.asmx</value>
            </setting>
        </ITS.MobileAtStore.Common.Properties.Settings>
    </applicationSettings>
</configuration>
