.dxHtmlEditor_Icons_heCut_SimpleB2C,
.dxHtmlEditor_Icons_heCutDisabled_SimpleB2C,
.dxHtmlEditor_Icons_heCopy_SimpleB2C,
.dxHtmlEditor_Icons_heCopyDisabled_SimpleB2C,
.dxHtmlEditor_Icons_hePaste_SimpleB2C,
.dxHtmlEditor_Icons_hePasteDisabled_SimpleB2C,
.dxHtmlEditor_Icons_hePasteFromWord_SimpleB2C,
.dxHtmlEditor_Icons_hePasteFromWordDisabled_SimpleB2C,
.dxHtmlEditor_Icons_heUndo_SimpleB2C,
.dxHtmlEditor_Icons_heUndoDisabled_SimpleB2C,
.dxHtmlEditor_Icons_heRedo_SimpleB2C,
.dxHtmlEditor_Icons_heRedoDisabled_SimpleB2C,
.dxHtmlEditor_Icons_heBold_SimpleB2C,
.dxHtmlEditor_Icons_heBoldDisabled_SimpleB2C,
.dxHtmlEditor_Icons_heItalic_SimpleB2C,
.dxHtmlEditor_Icons_heItalicDisabled_SimpleB2C,
.dxHtmlEditor_Icons_heUnderline_SimpleB2C,
.dxHtmlEditor_Icons_heUnderlineDisabled_SimpleB2C,
.dxHtmlEditor_Icons_heStrikethrough_SimpleB2C,
.dxHtmlEditor_Icons_heStrikethroughDisabled_SimpleB2C,
.dxHtmlEditor_Icons_heCenter_SimpleB2C,
.dxHtmlEditor_Icons_heCenterDisabled_SimpleB2C,
.dxHtmlEditor_Icons_heLeft_SimpleB2C,
.dxHtmlEditor_Icons_heLeftDisabled_SimpleB2C,
.dxHtmlEditor_Icons_heRight_SimpleB2C,
.dxHtmlEditor_Icons_heRightDisabled_SimpleB2C,
.dxHtmlEditor_Icons_heJustifyFull_SimpleB2C,
.dxHtmlEditor_Icons_heJustifyFullDisabled_SimpleB2C,
.dxHtmlEditor_Icons_heSuperscript_SimpleB2C,
.dxHtmlEditor_Icons_heSuperscriptDisabled_SimpleB2C,
.dxHtmlEditor_Icons_heSubscript_SimpleB2C,
.dxHtmlEditor_Icons_heSubscriptDisabled_SimpleB2C,
.dxHtmlEditor_Icons_heIndent_SimpleB2C,
.dxHtmlEditor_Icons_heIndentDisabled_SimpleB2C,
.dxHtmlEditor_Icons_heOutdent_SimpleB2C,
.dxHtmlEditor_Icons_heOutdentDisabled_SimpleB2C,
.dxHtmlEditor_Icons_heInsertOrderedList_SimpleB2C,
.dxHtmlEditor_Icons_heInsertOrderedListDisabled_SimpleB2C,
.dxHtmlEditor_Icons_heInsertUnorderedList_SimpleB2C,
.dxHtmlEditor_Icons_heInsertUnorderedListDisabled_SimpleB2C,
.dxHtmlEditor_Icons_heInsertImageDialog_SimpleB2C,
.dxHtmlEditor_Icons_heInsertImageDialogDisabled_SimpleB2C,
.dxHtmlEditor_Icons_heInsertLinkDialog_SimpleB2C,
.dxHtmlEditor_Icons_heInsertLinkDialogDisabled_SimpleB2C,
.dxHtmlEditor_Icons_heInsertTableDialog_SimpleB2C,
.dxHtmlEditor_Icons_heInsertTableDialogDisabled_SimpleB2C,
.dxHtmlEditor_Icons_heChangeTableDialog_SimpleB2C,
.dxHtmlEditor_Icons_heChangeTableDialogDisabled_SimpleB2C,
.dxHtmlEditor_Icons_heChangeTableCellDialog_SimpleB2C,
.dxHtmlEditor_Icons_heChangeTableCellDialogDisabled_SimpleB2C,
.dxHtmlEditor_Icons_heChangeTableColumnDialog_SimpleB2C,
.dxHtmlEditor_Icons_heChangeTableColumnDialogDisabled_SimpleB2C,
.dxHtmlEditor_Icons_heChangeTableRowDialog_SimpleB2C,
.dxHtmlEditor_Icons_heChangeTableRowDialogDisabled_SimpleB2C,
.dxHtmlEditor_Icons_heInsertTableRowAbove_SimpleB2C,
.dxHtmlEditor_Icons_heInsertTableRowAboveDisabled_SimpleB2C,
.dxHtmlEditor_Icons_heInsertTableRowBelow_SimpleB2C,
.dxHtmlEditor_Icons_heInsertTableRowBelowDisabled_SimpleB2C,
.dxHtmlEditor_Icons_heInsertTableColumnOnLeft_SimpleB2C,
.dxHtmlEditor_Icons_heInsertTableColumnOnLeftDisabled_SimpleB2C,
.dxHtmlEditor_Icons_heInsertTableColumnOnRight_SimpleB2C,
.dxHtmlEditor_Icons_heInsertTableColumnOnRightDisabled_SimpleB2C,
.dxHtmlEditor_Icons_heSplitTableCellHorizontal_SimpleB2C,
.dxHtmlEditor_Icons_heSplitTableCellHorizontalDisabled_SimpleB2C,
.dxHtmlEditor_Icons_heSplitTableCellVertical_SimpleB2C,
.dxHtmlEditor_Icons_heSplitTableCellVerticalDisabled_SimpleB2C,
.dxHtmlEditor_Icons_heMergeTableCellHorizontal_SimpleB2C,
.dxHtmlEditor_Icons_heMergeTableCellHorizontalDisabled_SimpleB2C,
.dxHtmlEditor_Icons_heMergeTableCellVertical_SimpleB2C,
.dxHtmlEditor_Icons_heMergeTableCellVerticalDisabled_SimpleB2C,
.dxHtmlEditor_Icons_heDeleteTable_SimpleB2C,
.dxHtmlEditor_Icons_heDeleteTableDisabled_SimpleB2C,
.dxHtmlEditor_Icons_heDeleteTableColumn_SimpleB2C,
.dxHtmlEditor_Icons_heDeleteTableColumnDisabled_SimpleB2C,
.dxHtmlEditor_Icons_heDeleteTableRow_SimpleB2C,
.dxHtmlEditor_Icons_heDeleteTableRowDisabled_SimpleB2C,
.dxHtmlEditor_Icons_heUnlink_SimpleB2C,
.dxHtmlEditor_Icons_heUnlinkDisabled_SimpleB2C,
.dxHtmlEditor_Icons_heBackColor_SimpleB2C,
.dxHtmlEditor_Icons_heBackColorDisabled_SimpleB2C,
.dxHtmlEditor_Icons_heForeColor_SimpleB2C,
.dxHtmlEditor_Icons_heForeColorDisabled_SimpleB2C,
.dxHtmlEditor_Icons_heRemoveFormat_SimpleB2C,
.dxHtmlEditor_Icons_heRemoveFormatDisabled_SimpleB2C,
.dxHtmlEditor_Icons_hePrint_SimpleB2C,
.dxHtmlEditor_Icons_hePrintDisabled_SimpleB2C,
.dxHtmlEditor_Icons_heCheckSpelling_SimpleB2C,
.dxHtmlEditor_Icons_heCheckSpellingDisabled_SimpleB2C,
.dxHtmlEditor_Icons_heFullscreen_SimpleB2C,
.dxHtmlEditor_Icons_heFullscreenDisabled_SimpleB2C,
.dxHtmlEditor_Icons_heSaveAsDocx_SimpleB2C,
.dxHtmlEditor_Icons_heSaveAsMht_SimpleB2C,
.dxHtmlEditor_Icons_heSaveAsOdt_SimpleB2C,
.dxHtmlEditor_Icons_heSaveAsPdf_SimpleB2C,
.dxHtmlEditor_Icons_heSaveAsRtf_SimpleB2C,
.dxHtmlEditor_Icons_heSaveAsTxt_SimpleB2C,
.dxHtmlEditor_heToolbarPopOut_SimpleB2C,
.dxHtmlEditor_heToolbarPopOutHover_SimpleB2C,
.dxHtmlEditor_heConstrainProportionsMiddleOn_SimpleB2C,
.dxHtmlEditor_heConstrainProportionsMiddleOff_SimpleB2C,
.dxHtmlEditor_heConstrainProportionsBottom_SimpleB2C,
.dxHtmlEditor_heConstrainProportionsTop_SimpleB2C,
.dxHtmlEditor_heConstrainProportionsMiddleOnRtl_SimpleB2C,
.dxHtmlEditor_heConstrainProportionsMiddleOffRtl_SimpleB2C,
.dxHtmlEditor_heConstrainProportionsBottomRtl_SimpleB2C,
.dxHtmlEditor_heConstrainProportionsTopRtl_SimpleB2C,
.dxHtmlEditor_RoundPanel_herpHeaderTopLeftCorner_SimpleB2C,
.dxHtmlEditor_RoundPanel_herpHeaderTopRightCorner_SimpleB2C,
.dxHtmlEditor_RoundPanel_herpBottomLeftCorner_SimpleB2C,
.dxHtmlEditor_RoundPanel_herpBottomRightCorner_SimpleB2C,
.dxHtmlEditor_RoundPanel_herpTopLeftCorner_SimpleB2C,
.dxHtmlEditor_RoundPanel_herpTopRightCorner_SimpleB2C,
.dxHtmlEditor_RoundPanel_herpGroupBoxBottomLeftCorner_SimpleB2C,
.dxHtmlEditor_RoundPanel_herpGroupBoxBottomRightCorner_SimpleB2C,
.dxHtmlEditor_RoundPanel_herpGroupBoxTopLeftCorner_SimpleB2C,
.dxHtmlEditor_RoundPanel_herpGroupBoxTopRightCorner_SimpleB2C,
.dxHtmlEditor_heSizeGrip_SimpleB2C,
.dxHtmlEditor_heSizeGripRtl_SimpleB2C,
.dxHtmlEditor_heErrorFrameCloseButton_SimpleB2C
{
	background: transparent url('<%=WebResource("ThemeAssembly1.App_Themes.SimpleB2C.HtmlEditor.sprite.png")%>') no-repeat;
}

.dxHtmlEditor_heConstrainProportionsMiddleOn_SimpleB2C,
.dxHtmlEditor_heConstrainProportionsMiddleOff_SimpleB2C,
.dxHtmlEditor_heConstrainProportionsBottom_SimpleB2C,
.dxHtmlEditor_heConstrainProportionsTop_SimpleB2C,
.dxHtmlEditor_RoundPanel_herpHeaderTopLeftCorner_SimpleB2C,
.dxHtmlEditor_RoundPanel_herpHeaderTopRightCorner_SimpleB2C,
.dxHtmlEditor_RoundPanel_herpBottomLeftCorner_SimpleB2C,
.dxHtmlEditor_RoundPanel_herpBottomRightCorner_SimpleB2C,
.dxHtmlEditor_RoundPanel_herpTopLeftCorner_SimpleB2C,
.dxHtmlEditor_RoundPanel_herpTopRightCorner_SimpleB2C,
.dxHtmlEditor_RoundPanel_herpGroupBoxBottomLeftCorner_SimpleB2C,
.dxHtmlEditor_RoundPanel_herpGroupBoxBottomRightCorner_SimpleB2C,
.dxHtmlEditor_RoundPanel_herpGroupBoxTopLeftCorner_SimpleB2C,
.dxHtmlEditor_RoundPanel_herpGroupBoxTopRightCorner_SimpleB2C,
.dxHtmlEditor_Icons_heForeColor_SimpleB2C,
.dxHtmlEditor_Icons_heBackColor_SimpleB2C
{
	display:block;
}

.dxHtmlEditor_Icons_heCut_SimpleB2C {
    background-position: -48px -74px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heCutDisabled_SimpleB2C {
    background-position: -72px -74px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heCopy_SimpleB2C {
    background-position: 0px -74px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heCopyDisabled_SimpleB2C {
    background-position: -24px -74px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_hePaste_SimpleB2C {
    background-position: -96px -194px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_hePasteDisabled_SimpleB2C {
    background-position: -120px -194px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_hePasteFromWord_SimpleB2C {
    background-position: -144px -194px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_hePasteFromWordDisabled_SimpleB2C {
    background-position: -168px -194px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heUndo_SimpleB2C {
    background-position: -96px -266px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heUndoDisabled_SimpleB2C {
    background-position: -120px -266px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heRedo_SimpleB2C {
    background-position: -48px -218px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heRedoDisabled_SimpleB2C {
    background-position: -72px -218px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heBold_SimpleB2C {
    background-position: -48px -26px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heBoldDisabled_SimpleB2C {
    background-position: -72px -26px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heItalic_SimpleB2C {
    background-position: 0px -170px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heItalicDisabled_SimpleB2C {
    background-position: -24px -170px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heUnderline_SimpleB2C {
    background-position: -48px -266px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heUnderlineDisabled_SimpleB2C {
    background-position: -72px -266px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heStrikethrough_SimpleB2C {
    background-position: -96px -242px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heStrikethroughDisabled_SimpleB2C {
    background-position: -120px -242px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heCenter_SimpleB2C {
    background-position: -96px -26px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heCenterDisabled_SimpleB2C {
    background-position: -120px -26px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heLeft_SimpleB2C {
    background-position: -96px -170px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heLeftDisabled_SimpleB2C {
    background-position: -120px -170px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heRight_SimpleB2C {
    background-position: -144px -218px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heRightDisabled_SimpleB2C {
    background-position: -168px -218px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heJustifyFull_SimpleB2C {
    background-position: -48px -170px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heJustifyFullDisabled_SimpleB2C {
    background-position: -72px -170px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heSuperscript_SimpleB2C {
    background-position: 0px -266px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heSuperscriptDisabled_SimpleB2C {
    background-position: -24px -266px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heSubscript_SimpleB2C {
    background-position: -144px -242px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heSubscriptDisabled_SimpleB2C {
    background-position: -168px -242px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heIndent_SimpleB2C {
    background-position: -96px -98px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heIndentDisabled_SimpleB2C {
    background-position: -120px -98px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heOutdent_SimpleB2C {
    background-position: -48px -194px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heOutdentDisabled_SimpleB2C {
    background-position: -72px -194px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heInsertOrderedList_SimpleB2C {
    background-position: -48px -122px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heInsertOrderedListDisabled_SimpleB2C {
    background-position: -72px -122px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heInsertUnorderedList_SimpleB2C {
    background-position: -144px -146px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heInsertUnorderedListDisabled_SimpleB2C {
    background-position: -168px -146px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heInsertImageDialog_SimpleB2C {
    background-position: -144px -98px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heInsertImageDialogDisabled_SimpleB2C {
    background-position: -168px -98px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heInsertLinkDialog_SimpleB2C {
    background-position: 0px -122px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heInsertLinkDialogDisabled_SimpleB2C {
    background-position: -24px -122px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heInsertTableDialog_SimpleB2C {
    background-position: 0px -146px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heInsertTableDialogDisabled_SimpleB2C {
    background-position: -24px -146px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heChangeTableDialog_SimpleB2C {
    background-position: -48px -50px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heChangeTableDialogDisabled_SimpleB2C {
    background-position: -72px -50px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heChangeTableCellDialog_SimpleB2C {
    background-position: -144px -26px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heChangeTableCellDialogDisabled_SimpleB2C {
    background-position: -168px -26px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heChangeTableColumnDialog_SimpleB2C {
    background-position: 0px -50px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heChangeTableColumnDialogDisabled_SimpleB2C {
    background-position: -24px -50px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heChangeTableRowDialog_SimpleB2C {
    background-position: -96px -50px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heChangeTableRowDialogDisabled_SimpleB2C {
    background-position: -120px -50px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heInsertTableRowAbove_SimpleB2C {
    background-position: -48px -146px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heInsertTableRowAboveDisabled_SimpleB2C {
    background-position: -72px -146px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heInsertTableRowBelow_SimpleB2C {
    background-position: -96px -146px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heInsertTableRowBelowDisabled_SimpleB2C {
    background-position: -120px -146px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heInsertTableColumnOnLeft_SimpleB2C {
    background-position: -96px -122px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heInsertTableColumnOnLeftDisabled_SimpleB2C {
    background-position: -120px -122px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heInsertTableColumnOnRight_SimpleB2C {
    background-position: -144px -122px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heInsertTableColumnOnRightDisabled_SimpleB2C {
    background-position: -168px -122px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heSplitTableCellHorizontal_SimpleB2C {
    background-position: 0px -242px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heSplitTableCellHorizontalDisabled_SimpleB2C {
    background-position: -24px -242px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heSplitTableCellVertical_SimpleB2C {
    background-position: -48px -242px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heSplitTableCellVerticalDisabled_SimpleB2C {
    background-position: -72px -242px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heMergeTableCellHorizontal_SimpleB2C {
    background-position: -144px -170px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heMergeTableCellHorizontalDisabled_SimpleB2C {
    background-position: -168px -170px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heMergeTableCellVertical_SimpleB2C {
    background-position: 0px -194px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heMergeTableCellVerticalDisabled_SimpleB2C {
    background-position: -24px -194px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heDeleteTable_SimpleB2C {
    background-position: -96px -74px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heDeleteTableDisabled_SimpleB2C {
    background-position: -120px -74px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heDeleteTableColumn_SimpleB2C {
    background-position: -144px -74px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heDeleteTableColumnDisabled_SimpleB2C {
    background-position: -168px -74px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heDeleteTableRow_SimpleB2C {
    background-position: 0px -98px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heDeleteTableRowDisabled_SimpleB2C {
    background-position: -24px -98px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heUnlink_SimpleB2C {
    background-position: -143px -267px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heUnlinkDisabled_SimpleB2C {
    background-position: -167px -267px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heBackColor_SimpleB2C {
    background-position: 0px -26px;
    width: 16px;
    height: 13px;
}

.dxHtmlEditor_Icons_heBackColorDisabled_SimpleB2C {
    background-position: -24px -26px;
    width: 16px;
    height: 13px;
}

.dxHtmlEditor_Icons_heForeColor_SimpleB2C {
    background-position: -48px -98px;
    width: 16px;
    height: 13px;
}

.dxHtmlEditor_Icons_heForeColorDisabled_SimpleB2C {
    background-position: -72px -98px;
    width: 16px;
    height: 13px;
}

.dxHtmlEditor_Icons_heRemoveFormat_SimpleB2C {
    background-position: -96px -218px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heRemoveFormatDisabled_SimpleB2C {
    background-position: -120px -218px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_hePrint_SimpleB2C {
    background-position: 0px -218px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_hePrintDisabled_SimpleB2C {
    background-position: -24px -218px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heCheckSpelling_SimpleB2C {
    background-position: -144px -50px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heCheckSpellingDisabled_SimpleB2C {
    background-position: -168px -50px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heFullscreen_SimpleB2C 
{
    background-position: -24px -290px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heFullscreenDisabled_SimpleB2C
{
	background-position: -24px -314px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heSaveAsDocx_SimpleB2C
{
    background-position: -48px -290px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heSaveAsMht_SimpleB2C
{
    background-position: -72px -290px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heSaveAsOdt_SimpleB2C
{
    background-position: -96px -290px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heSaveAsPdf_SimpleB2C
{
    background-position: -120px -290px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heSaveAsRtf_SimpleB2C
{
    background-position: -144px -290px;
    width: 16px;
    height: 16px;
}

.dxHtmlEditor_Icons_heSaveAsTxt_SimpleB2C
{
    background-position: -168px -290px;
    width: 16px;
    height: 16px;
}


.dxHtmlEditor_heToolbarPopOut_SimpleB2C {
    background-position: -135px 0px;
    width: 5px;
    height: 3px;
}

.dxHtmlEditor_heToolbarPopOutHover_SimpleB2C {
    background-position: -135px -3px;
    width: 5px;
    height: 3px;
}

.dxHtmlEditor_heConstrainProportionsMiddleOn_SimpleB2C {
    background-position: -19px 0px;
    width: 11px;
    height: 18px;
}

.dxHtmlEditor_heConstrainProportionsMiddleOff_SimpleB2C {
    background-position: 0px 0px;
    width: 11px;
    height: 18px;
}

.dxHtmlEditor_heConstrainProportionsBottom_SimpleB2C {
    background-position: -38px 0px;
    width: 11px;
    height: 6px;
}

.dxHtmlEditor_heConstrainProportionsTop_SimpleB2C {
    background-position: -38px -14px;
    width: 11px;
    height: 5px;
}

.dxHtmlEditor_heConstrainProportionsMiddleOnRtl_SimpleB2C {
    background-position: -162px 0px;
    width: 11px;
    height: 18px;
}

.dxHtmlEditor_heConstrainProportionsMiddleOffRtl_SimpleB2C {
    background-position: -181px 0px;
    width: 11px;
    height: 18px;
}

.dxHtmlEditor_heConstrainProportionsBottomRtl_SimpleB2C {
    background-position: -143px 0px;
    width: 11px;
    height: 6px;
}

.dxHtmlEditor_heConstrainProportionsTopRtl_SimpleB2C {
    background-position: -143px -14px;
    width: 11px;
    height: 5px;
}

.dxHtmlEditor_RoundPanel_herpHeaderTopLeftCorner_SimpleB2C {
    background-position: -109px 0px;
    width: 5px;
    height: 5px;
}

.dxHtmlEditor_RoundPanel_herpHeaderTopRightCorner_SimpleB2C {
    background-position: -122px 0px;
    width: 5px;
    height: 5px;
}

.dxHtmlEditor_RoundPanel_herpBottomLeftCorner_SimpleB2C {
    background-position: -57px -13px;
    width: 5px;
    height: 5px;
}

.dxHtmlEditor_RoundPanel_herpBottomRightCorner_SimpleB2C {
    background-position: -70px -13px;
    width: 5px;
    height: 5px;
}

.dxHtmlEditor_RoundPanel_herpTopLeftCorner_SimpleB2C {
    background-position: -57px 0px;
    width: 5px;
    height: 5px;
}

.dxHtmlEditor_RoundPanel_herpTopRightCorner_SimpleB2C {
    background-position: -70px 0px;
    width: 5px;
    height: 5px;
}

.dxHtmlEditor_RoundPanel_herpGroupBoxBottomLeftCorner_SimpleB2C {
    background-position: -83px -13px;
    width: 5px;
    height: 5px;
}

.dxHtmlEditor_RoundPanel_herpGroupBoxBottomRightCorner_SimpleB2C {
    background-position: -96px -13px;
    width: 5px;
    height: 5px;
}

.dxHtmlEditor_RoundPanel_herpGroupBoxTopLeftCorner_SimpleB2C {
    background-position: -83px 0px;
    width: 5px;
    height: 5px;
}

.dxHtmlEditor_RoundPanel_herpGroupBoxTopRightCorner_SimpleB2C {
    background-position: -96px 0px;
    width: 5px;
    height: 5px;
}

.dxHtmlEditor_heSizeGrip_SimpleB2C {
    background-position: 0px -290px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_heSizeGripRtl_SimpleB2C {
    background-position: 0px -314px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_heErrorFrameCloseButton_SimpleB2C {
    background-position: -109px -9px;
    width: 13px;
    height: 9px;
}

