<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IScalesService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/ITS.Retail.WebClient/ScalesService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IScalesService"
                contract="ScalesService.IScalesService" name="BasicHttpBinding_IScalesService" />
        </client>
    </system.serviceModel>
</configuration>