@using ITS.Retail.Model;
@using ITS.Retail.ResourcesLib;

@{    
    Layout = "~/Areas/B2C/Views/Shared/_Layout.cshtml";
}


@section HeaderScriptsAndStyles {

    <link rel="stylesheet" href="@Url.Content("~/Content/B2C/css/product_listing.css")" type="text/css" media="screen" />
}


<div class="row">
    <div class="col-xs-12">
        <div class="page-header">
            <h1 class="text-center">@Resources.CartOverview</h1>
        </div>
    </div>
</div>

@Html.Partial("ListPartial")



