<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
      
  </system.web>
  <glimpse defaultRuntimePolicy="Off" endpointBaseUri="~/Glimpse.axd">
    <!-- 
          For more information on how to configure Glimpse, please visit http://getglimpse.com/Help/Configuration
          or access {your site}/Glimpse.axd for even more details and a Configuration Tool to support you. 
      
        <logging level="Trace" />-->

    <tabs>
      <ignoredTypes>
        <add type="Glimpse.AspNet.Tab.Server, Glimpse.AspNet" />
        <add type="Glimpse.Mvc.Tab.Metadata, Glimpse.Mvc4" />
        <add type="Glimpse.AspNet.Tab.Session, Glimpse.AspNet" />
        <add type="Glimpse.Mvc.Tab.ModelBinding, Glimpse.Mvc4" />
        <add type="Glimpse.Mvc.Tab.Views, Glimpse.Mvc4" />
      </ignoredTypes>
    </tabs>
    <runtimePolicies>
      <ignoredTypes>
        <add type="ITS.Retail.Model.BasicObj, ITS.Retail.Model" />
        <add type="ITS.Retail.Model.BasicObj, ITS.Retail.Model" />
        <add type="DevExpress.Xpo.Metadata.ReflectionPropertyInfo, DevExpress.Xpo.v15.2" />
        <add type="DevExpress.Xpo.Metadata.XPClassInfo, DevExpress.Xpo.v15.2" />
        <add type="DevExpress.Xpo.XPObjectType, DevExpress.Xpo.v15.2" />
      </ignoredTypes>
    </runtimePolicies>


  </glimpse>
</configuration>