.dxr-itemHover .dxWeb_xrdvRibbonIcon_BtnDocumentMap_ITSTheme1,
.dxr-itemHover .dxWeb_xrdvRibbonIcon_BtnDocumentMapLarge_ITSTheme1,
.dxr-itemHover .dxWeb_xrdvRibbonIcon_BtnFirstPage_ITSTheme1,
.dxr-itemHover .dxWeb_xrdvRibbonIcon_BtnFirstPageLarge_ITSTheme1,
.dxr-itemHover .dxWeb_xrdvRibbonIcon_BtnLastPage_ITSTheme1,
.dxr-itemHover .dxWeb_xrdvRibbonIcon_BtnLastPageLarge_ITSTheme1,
.dxr-itemHover .dxWeb_xrdvRibbonIcon_BtnNextPage_ITSTheme1,
.dxr-itemHover .dxWeb_xrdvRibbonIcon_BtnNextPageLarge_ITSTheme1,
.dxr-itemHover .dxWeb_xrdvRibbonIcon_BtnParameters_ITSTheme1,
.dxr-itemHover .dxWeb_xrdvRibbonIcon_BtnParametersLarge_ITSTheme1,
.dxr-itemHover .dxWeb_xrdvRibbonIcon_BtnPrevPage_ITSTheme1,
.dxr-itemHover .dxWeb_xrdvRibbonIcon_BtnPrevPageLarge_ITSTheme1,
.dxr-itemHover .dxWeb_xrdvRibbonIcon_BtnPrint_ITSTheme1,
.dxr-itemHover .dxWeb_xrdvRibbonIcon_BtnPrintLarge_ITSTheme1,
.dxr-itemHover .dxWeb_xrdvRibbonIcon_BtnPrintPage_ITSTheme1,
.dxr-itemHover .dxWeb_xrdvRibbonIcon_BtnPrintPageLarge_ITSTheme1,
.dxr-itemHover .dxWeb_xrdvRibbonIcon_BtnSave_ITSTheme1,
.dxr-itemHover .dxWeb_xrdvRibbonIcon_BtnSaveLarge_ITSTheme1,
.dxr-itemHover .dxWeb_xrdvRibbonIcon_BtnSaveWindow_ITSTheme1,
.dxr-itemHover .dxWeb_xrdvRibbonIcon_BtnSaveWindowLarge_ITSTheme1,
.dxr-itemHover .dxWeb_xrdvRibbonIcon_BtnSearch_ITSTheme1,
.dxr-itemHover .dxWeb_xrdvRibbonIcon_BtnSearchLarge_ITSTheme1,
.dxr-itemHover .dxWeb_xrdvRibbonIcon_ExportToCsv_ITSTheme1,
.dxr-itemHover .dxWeb_xrdvRibbonIcon_ExportToCsvLarge_ITSTheme1,
.dxr-itemHover .dxWeb_xrdvRibbonIcon_ExportToHtml_ITSTheme1,
.dxr-itemHover .dxWeb_xrdvRibbonIcon_ExportToHtmlLarge_ITSTheme1,
.dxr-itemHover .dxWeb_xrdvRibbonIcon_ExportToImg_ITSTheme1,
.dxr-itemHover .dxWeb_xrdvRibbonIcon_ExportToImgLarge_ITSTheme1,
.dxr-itemHover .dxWeb_xrdvRibbonIcon_ExportToMht_ITSTheme1,
.dxr-itemHover .dxWeb_xrdvRibbonIcon_ExportToMhtLarge_ITSTheme1,
.dxr-itemHover .dxWeb_xrdvRibbonIcon_ExportToPdf_ITSTheme1,
.dxr-itemHover .dxWeb_xrdvRibbonIcon_ExportToPdfLarge_ITSTheme1,
.dxr-itemHover .dxWeb_xrdvRibbonIcon_ExportToRtf_ITSTheme1,
.dxr-itemHover .dxWeb_xrdvRibbonIcon_ExportToRtfLarge_ITSTheme1,
.dxr-itemHover .dxWeb_xrdvRibbonIcon_ExportToTxt_ITSTheme1,
.dxr-itemHover .dxWeb_xrdvRibbonIcon_ExportToTxtLarge_ITSTheme1,
.dxr-itemHover .dxWeb_xrdvRibbonIcon_ExportToXls_ITSTheme1,
.dxr-itemHover .dxWeb_xrdvRibbonIcon_ExportToXlsLarge_ITSTheme1,
.dxr-itemHover .dxWeb_xrdvRibbonIcon_ExportToXlsx_ITSTheme1,
.dxr-itemHover .dxWeb_xrdvRibbonIcon_ExportToXlsxLarge_ITSTheme1,
.dxWeb_xrdvRibbonIcon_BtnDocumentMap_ITSTheme1,
.dxWeb_xrdvRibbonIcon_BtnDocumentMapDisabled_ITSTheme1,
.dxWeb_xrdvRibbonIcon_BtnDocumentMapLarge_ITSTheme1,
.dxWeb_xrdvRibbonIcon_BtnDocumentMapLargeDisabled_ITSTheme1,
.dxWeb_xrdvRibbonIcon_BtnFirstPage_ITSTheme1,
.dxWeb_xrdvRibbonIcon_BtnFirstPageDisabled_ITSTheme1,
.dxWeb_xrdvRibbonIcon_BtnFirstPageLarge_ITSTheme1,
.dxWeb_xrdvRibbonIcon_BtnFirstPageLargeDisabled_ITSTheme1,
.dxWeb_xrdvRibbonIcon_BtnLastPage_ITSTheme1,
.dxWeb_xrdvRibbonIcon_BtnLastPageDisabled_ITSTheme1,
.dxWeb_xrdvRibbonIcon_BtnLastPageLarge_ITSTheme1,
.dxWeb_xrdvRibbonIcon_BtnLastPageLargeDisabled_ITSTheme1,
.dxWeb_xrdvRibbonIcon_BtnNextPage_ITSTheme1,
.dxWeb_xrdvRibbonIcon_BtnNextPageDisabled_ITSTheme1,
.dxWeb_xrdvRibbonIcon_BtnNextPageLarge_ITSTheme1,
.dxWeb_xrdvRibbonIcon_BtnNextPageLargeDisabled_ITSTheme1,
.dxWeb_xrdvRibbonIcon_BtnParameters_ITSTheme1,
.dxWeb_xrdvRibbonIcon_BtnParametersDisabled_ITSTheme1,
.dxWeb_xrdvRibbonIcon_BtnParametersLarge_ITSTheme1,
.dxWeb_xrdvRibbonIcon_BtnParametersLargeDisabled_ITSTheme1,
.dxWeb_xrdvRibbonIcon_BtnPrevPage_ITSTheme1,
.dxWeb_xrdvRibbonIcon_BtnPrevPageDisabled_ITSTheme1,
.dxWeb_xrdvRibbonIcon_BtnPrevPageLarge_ITSTheme1,
.dxWeb_xrdvRibbonIcon_BtnPrevPageLargeDisabled_ITSTheme1,
.dxWeb_xrdvRibbonIcon_BtnPrint_ITSTheme1,
.dxWeb_xrdvRibbonIcon_BtnPrintDisabled_ITSTheme1,
.dxWeb_xrdvRibbonIcon_BtnPrintLarge_ITSTheme1,
.dxWeb_xrdvRibbonIcon_BtnPrintLargeDisabled_ITSTheme1,
.dxWeb_xrdvRibbonIcon_BtnPrintPage_ITSTheme1,
.dxWeb_xrdvRibbonIcon_BtnPrintPageDisabled_ITSTheme1,
.dxWeb_xrdvRibbonIcon_BtnPrintPageLarge_ITSTheme1,
.dxWeb_xrdvRibbonIcon_BtnPrintPageLargeDisabled_ITSTheme1,
.dxWeb_xrdvRibbonIcon_BtnSave_ITSTheme1,
.dxWeb_xrdvRibbonIcon_BtnSaveDisabled_ITSTheme1,
.dxWeb_xrdvRibbonIcon_BtnSaveLarge_ITSTheme1,
.dxWeb_xrdvRibbonIcon_BtnSaveLargeDisabled_ITSTheme1,
.dxWeb_xrdvRibbonIcon_BtnSaveWindow_ITSTheme1,
.dxWeb_xrdvRibbonIcon_BtnSaveWindowDisabled_ITSTheme1,
.dxWeb_xrdvRibbonIcon_BtnSaveWindowLarge_ITSTheme1,
.dxWeb_xrdvRibbonIcon_BtnSaveWindowLargeDisabled_ITSTheme1,
.dxWeb_xrdvRibbonIcon_BtnSearch_ITSTheme1,
.dxWeb_xrdvRibbonIcon_BtnSearchDisabled_ITSTheme1,
.dxWeb_xrdvRibbonIcon_BtnSearchLarge_ITSTheme1,
.dxWeb_xrdvRibbonIcon_BtnSearchLargeDisabled_ITSTheme1,
.dxWeb_xrdvRibbonIcon_ExportToCsv_ITSTheme1,
.dxWeb_xrdvRibbonIcon_ExportToCsvLarge_ITSTheme1,
.dxWeb_xrdvRibbonIcon_ExportToHtml_ITSTheme1,
.dxWeb_xrdvRibbonIcon_ExportToHtmlLarge_ITSTheme1,
.dxWeb_xrdvRibbonIcon_ExportToImg_ITSTheme1,
.dxWeb_xrdvRibbonIcon_ExportToImgLarge_ITSTheme1,
.dxWeb_xrdvRibbonIcon_ExportToMht_ITSTheme1,
.dxWeb_xrdvRibbonIcon_ExportToMhtLarge_ITSTheme1,
.dxWeb_xrdvRibbonIcon_ExportToPdf_ITSTheme1,
.dxWeb_xrdvRibbonIcon_ExportToPdfLarge_ITSTheme1,
.dxWeb_xrdvRibbonIcon_ExportToRtf_ITSTheme1,
.dxWeb_xrdvRibbonIcon_ExportToRtfLarge_ITSTheme1,
.dxWeb_xrdvRibbonIcon_ExportToTxt_ITSTheme1,
.dxWeb_xrdvRibbonIcon_ExportToTxtLarge_ITSTheme1,
.dxWeb_xrdvRibbonIcon_ExportToXls_ITSTheme1,
.dxWeb_xrdvRibbonIcon_ExportToXlsLarge_ITSTheme1,
.dxWeb_xrdvRibbonIcon_ExportToXlsx_ITSTheme1,
.dxWeb_xrdvRibbonIcon_ExportToXlsxLarge_ITSTheme1
{
    background-image: url('<%=WebResource("ThemeAssembly1.App_Themes.ITSTheme1.Web.DocumentViewerSprite.png")%>');
    background-repeat: no-repeat;
    background-color: transparent;
}
.dxr-itemHover .dxWeb_xrdvRibbonIcon_BtnDocumentMap_ITSTheme1
{
    background-position: -595px -66px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_xrdvRibbonIcon_BtnDocumentMapLarge_ITSTheme1
{
    background-position: -495px 0px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_xrdvRibbonIcon_BtnFirstPage_ITSTheme1
{
    background-position: -629px -66px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_xrdvRibbonIcon_BtnFirstPageLarge_ITSTheme1
{
    background-position: -231px 0px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_xrdvRibbonIcon_BtnLastPage_ITSTheme1
{
    background-position: -17px -66px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_xrdvRibbonIcon_BtnLastPageLarge_ITSTheme1
{
    background-position: -99px -33px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_xrdvRibbonIcon_BtnNextPage_ITSTheme1
{
    background-position: -799px -66px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_xrdvRibbonIcon_BtnNextPageLarge_ITSTheme1
{
    background-position: -132px 0px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_xrdvRibbonIcon_BtnParameters_ITSTheme1
{
    background-position: -782px -66px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_xrdvRibbonIcon_BtnParametersLarge_ITSTheme1
{
    background-position: -462px -33px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_xrdvRibbonIcon_BtnPrevPage_ITSTheme1
{
    background-position: -170px -66px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_xrdvRibbonIcon_BtnPrevPageLarge_ITSTheme1
{
    background-position: -759px -33px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_xrdvRibbonIcon_BtnPrint_ITSTheme1
{
    background-position: -187px -66px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_xrdvRibbonIcon_BtnPrintLarge_ITSTheme1
{
    background-position: -528px 0px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_xrdvRibbonIcon_BtnPrintPage_ITSTheme1
{
    background-position: -459px -66px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_xrdvRibbonIcon_BtnPrintPageLarge_ITSTheme1
{
    background-position: -165px 0px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_xrdvRibbonIcon_BtnSave_ITSTheme1
{
    background-position: -425px -66px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_xrdvRibbonIcon_BtnSaveLarge_ITSTheme1
{
    background-position: -693px -33px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_xrdvRibbonIcon_BtnSaveWindow_ITSTheme1
{
    background-position: -34px -66px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_xrdvRibbonIcon_BtnSaveWindowLarge_ITSTheme1
{
    background-position: -165px -33px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_xrdvRibbonIcon_BtnSearch_ITSTheme1
{
    background-position: -765px -66px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_xrdvRibbonIcon_BtnSearchLarge_ITSTheme1
{
    background-position: -396px -33px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_xrdvRibbonIcon_ExportToCsv_ITSTheme1
{
    background-position: -255px -66px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_xrdvRibbonIcon_ExportToCsvLarge_ITSTheme1
{
    background-position: -99px 0px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_xrdvRibbonIcon_ExportToHtml_ITSTheme1
{
    background-position: -374px -66px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_xrdvRibbonIcon_ExportToHtmlLarge_ITSTheme1
{
    background-position: -330px -33px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_xrdvRibbonIcon_ExportToImg_ITSTheme1
{
    background-position: -476px -66px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_xrdvRibbonIcon_ExportToImgLarge_ITSTheme1
{
    background-position: -396px 0px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_xrdvRibbonIcon_ExportToMht_ITSTheme1
{
    background-position: -697px -66px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_xrdvRibbonIcon_ExportToMhtLarge_ITSTheme1
{
    background-position: -231px -33px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_xrdvRibbonIcon_ExportToPdf_ITSTheme1
{
    background-position: -748px -66px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_xrdvRibbonIcon_ExportToPdfLarge_ITSTheme1
{
    background-position: -363px -33px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_xrdvRibbonIcon_ExportToRtf_ITSTheme1
{
    background-position: -204px -66px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_xrdvRibbonIcon_ExportToRtfLarge_ITSTheme1
{
    background-position: -264px -33px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_xrdvRibbonIcon_ExportToTxt_ITSTheme1
{
    background-position: -510px -66px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_xrdvRibbonIcon_ExportToTxtLarge_ITSTheme1
{
    background-position: -594px -33px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_xrdvRibbonIcon_ExportToXls_ITSTheme1
{
    background-position: -238px -66px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_xrdvRibbonIcon_ExportToXlsLarge_ITSTheme1
{
    background-position: -33px -33px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_xrdvRibbonIcon_ExportToXlsx_ITSTheme1
{
    background-position: -119px -66px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_xrdvRibbonIcon_ExportToXlsxLarge_ITSTheme1
{
    background-position: -726px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonIcon_BtnDocumentMap_ITSTheme1
{
    background-position: -68px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonIcon_BtnDocumentMapDisabled_ITSTheme1
{
    background-position: -323px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonIcon_BtnDocumentMapLarge_ITSTheme1
{
    background-position: 0px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonIcon_BtnDocumentMapLargeDisabled_ITSTheme1
{
    background-position: -825px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonIcon_BtnFirstPage_ITSTheme1
{
    background-position: 0px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonIcon_BtnFirstPageDisabled_ITSTheme1
{
    background-position: -527px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonIcon_BtnFirstPageLarge_ITSTheme1
{
    background-position: -297px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonIcon_BtnFirstPageLargeDisabled_ITSTheme1
{
    background-position: -792px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonIcon_BtnLastPage_ITSTheme1
{
    background-position: -646px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonIcon_BtnLastPageDisabled_ITSTheme1
{
    background-position: -102px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonIcon_BtnLastPageLarge_ITSTheme1
{
    background-position: -462px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonIcon_BtnLastPageLargeDisabled_ITSTheme1
{
    background-position: -363px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonIcon_BtnNextPage_ITSTheme1
{
    background-position: -136px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonIcon_BtnNextPageDisabled_ITSTheme1
{
    background-position: -612px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonIcon_BtnNextPageLarge_ITSTheme1
{
    background-position: -429px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonIcon_BtnNextPageLargeDisabled_ITSTheme1
{
    background-position: -33px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonIcon_BtnParameters_ITSTheme1
{
    background-position: -825px -33px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonIcon_BtnParametersDisabled_ITSTheme1
{
    background-position: -578px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonIcon_BtnParametersLarge_ITSTheme1
{
    background-position: -495px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonIcon_BtnParametersLargeDisabled_ITSTheme1
{
    background-position: -561px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonIcon_BtnPrevPage_ITSTheme1
{
    background-position: -391px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonIcon_BtnPrevPageDisabled_ITSTheme1
{
    background-position: -221px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonIcon_BtnPrevPageLarge_ITSTheme1
{
    background-position: -132px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonIcon_BtnPrevPageLargeDisabled_ITSTheme1
{
    background-position: -429px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonIcon_BtnPrint_ITSTheme1
{
    background-position: -153px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonIcon_BtnPrintDisabled_ITSTheme1
{
    background-position: -340px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonIcon_BtnPrintLarge_ITSTheme1
{
    background-position: -627px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonIcon_BtnPrintLargeDisabled_ITSTheme1
{
    background-position: -66px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonIcon_BtnPrintPage_ITSTheme1
{
    background-position: -493px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonIcon_BtnPrintPageDisabled_ITSTheme1
{
    background-position: -85px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonIcon_BtnPrintPageLarge_ITSTheme1
{
    background-position: -726px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonIcon_BtnPrintPageLargeDisabled_ITSTheme1
{
    background-position: -198px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonIcon_BtnSave_ITSTheme1
{
    background-position: -51px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonIcon_BtnSaveDisabled_ITSTheme1
{
    background-position: -731px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonIcon_BtnSaveLarge_ITSTheme1
{
    background-position: -198px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonIcon_BtnSaveLargeDisabled_ITSTheme1
{
    background-position: -660px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonIcon_BtnSaveWindow_ITSTheme1
{
    background-position: -561px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonIcon_BtnSaveWindowDisabled_ITSTheme1
{
    background-position: -306px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonIcon_BtnSaveWindowLarge_ITSTheme1
{
    background-position: -264px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonIcon_BtnSaveWindowLargeDisabled_ITSTheme1
{
    background-position: -297px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonIcon_BtnSearch_ITSTheme1
{
    background-position: -408px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonIcon_BtnSearchDisabled_ITSTheme1
{
    background-position: -357px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonIcon_BtnSearchLarge_ITSTheme1
{
    background-position: -792px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonIcon_BtnSearchLargeDisabled_ITSTheme1
{
    background-position: -528px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonIcon_ExportToCsv_ITSTheme1
{
    background-position: -842px -33px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonIcon_ExportToCsvLarge_ITSTheme1
{
    background-position: -66px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonIcon_ExportToHtml_ITSTheme1
{
    background-position: -442px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonIcon_ExportToHtmlLarge_ITSTheme1
{
    background-position: -594px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonIcon_ExportToImg_ITSTheme1
{
    background-position: -663px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonIcon_ExportToImgLarge_ITSTheme1
{
    background-position: -660px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonIcon_ExportToMht_ITSTheme1
{
    background-position: -544px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonIcon_ExportToMhtLarge_ITSTheme1
{
    background-position: 0px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonIcon_ExportToPdf_ITSTheme1
{
    background-position: -714px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonIcon_ExportToPdfLarge_ITSTheme1
{
    background-position: -693px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonIcon_ExportToRtf_ITSTheme1
{
    background-position: -680px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonIcon_ExportToRtfLarge_ITSTheme1
{
    background-position: -627px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonIcon_ExportToTxt_ITSTheme1
{
    background-position: -272px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonIcon_ExportToTxtLarge_ITSTheme1
{
    background-position: -561px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonIcon_ExportToXls_ITSTheme1
{
    background-position: -816px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonIcon_ExportToXlsLarge_ITSTheme1
{
    background-position: -330px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonIcon_ExportToXlsx_ITSTheme1
{
    background-position: -289px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonIcon_ExportToXlsxLarge_ITSTheme1
{
    background-position: -759px 0px;
    width: 32px;
    height: 32px;
}

