<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ITS.Retail.ScanTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ITS.Retail.ScanTool.Properties.Settings>
            <setting name="ITS_Retail_ScanTool_RemoteHeaderService_ScannedDocumentHeaderService" serializeAs="String">
                <value>http://localhost:4000/ScannedDocumentHeaderService.asmx</value>
            </setting>
        </ITS.Retail.ScanTool.Properties.Settings>
    </applicationSettings>
</configuration>