@using (Html.BeginForm("ImportSettingsUploadForm", "ActionType", FormMethod.Post, new { id = "UploadForm", enctype = "multipart/form-data" }))
{
    ViewContext.Writer.Write("<div class='UploadForm'>");
    Html.DevExpress().UploadControl(settings =>
    {
        settings.UploadMode = UploadControlUploadMode.Standard;
        settings.Name = "UploadControl";
        settings.CallbackRouteValues = new { Controller = "ActionType", Action = "UploadControl" };
        settings.ShowProgressPanel = true;
        settings.ValidationSettings.Assign(ITS.Retail.WebClient.Controllers.ActionTypeController.UploadControlValidationSettings);
        settings.ClientSideEvents.FileUploadComplete = "ActionType.onFileUploadComplete_UploadControl";
    }).Render();

    ViewContext.Writer.Write("</div>");

}
