<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ITS.Retail.DesktopClient.StoreControllerClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ICachedDataStoreWarpService" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" transferMode="Streamed">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" />
        </binding>
        <binding name="BasicHttpBinding_IITSStoreControllerDesktopService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/ITS.Retail.WebClient/ITSStoreControllerDesktopService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IITSStoreControllerDesktopService" contract="ITSStoreControllerDesktopService.IITSStoreControllerDesktopService" name="BasicHttpBinding_IITSStoreControllerDesktopService" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.1" newVersion="4.0.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <ITS.Retail.DesktopClient.StoreControllerClient.Properties.Settings>
      <setting name="StoreControllerClient_ITSStoreControllerDesktopPOSUpdateService_POSUpdateService" serializeAs="String">
        <value>http://localhost/ITS.Retail.WebClient/POSUpdateService.asmx</value>
      </setting>
    </ITS.Retail.DesktopClient.StoreControllerClient.Properties.Settings>
  </applicationSettings>
</configuration>
