@using ITS.Retail.ResourcesLib;

@{
    Layout = "~/Areas/B2C/Views/Shared/_Layout.cshtml";
}




<div class="row">
    <div class="col-xs-12">
        <div class="page-header">
            <h1 class="text-center">@Resources.WishList</h1>
        </div>
    </div>

    @Html.Partial("ProfileMenu")
    <div class="col-sm-9">
        @Html.Partial("WishListPartial")
    </div>
</div>



