<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="ITS.Retail.Bridge.Service.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        <section name="Retail.Bridge.Service.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup><applicationSettings>
        <ITS.Retail.Bridge.Service.Properties.Settings>
            <setting name="Retail_Bridge_Service_BridgeWebService_RetailBridgeService" serializeAs="String">
                <value>http://localhost/ITS.Retail.WebClient/retailbridgeservice.asmx</value>
            </setting>
        </ITS.Retail.Bridge.Service.Properties.Settings>
        <Retail.Bridge.Service.Properties.Settings>
            <setting name="Retail_Bridge_Service_BridgeWebService_RetailBridgeService" serializeAs="String">
                <value>http://localhost/retail.debug/retailbridgeservice.asmx</value>
            </setting>
        </Retail.Bridge.Service.Properties.Settings>
    </applicationSettings>
</configuration>
