@{
    Layout = null;
}

@{
    ViewBag.Title = "Not Activated";
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
}

<h2>Application is not activated</h2>

<div>It can only be activated from the local machine</div>